mixin item(label) 
  .category
    .info
      span.label= label
      div.desc
        block

#categories-container
  +item('Defend against a future of surveillance')
    p Node guards privacy for the world. Without Node, anyone will be able to enter your details into a search engine and peer into your financial history. $100B in crypto is already on public record. Turn your Node on.

  +item('Give privacy, get paid')
    p Earn crypto for giving others their right to privacy. Every time someone sends bitcoin privately, you get bitcoin, because your Node powers the network that made it possible. All you have to do is plug Node in.

  +item('Play a part, own a part')
    p Node is one of a hive of worker bees, but this one has no queen. Node makes honey just for you, a piece of the network you can hold in your hands. As the network grows, your piece does too. Every Node counts. Be a part of something bigger.

  +item('Claim your share of tomorrow’s money')
    p Node is your snowball share of the fastest-growing market the world has ever seen. As an owner of a Node, you’re a shareholder, but also a builder and a leader. Earn rewards for protecting our rights in the token economy.