extends ../layout.pug

block title
   title Your piece of a new economy.
   
block main
   #why-node-container
      include ../header.pug
      #content
         include intro.pug
         include categories.pug
   