.app-store-groups {
  display: flex;

  @include breakpoint-down(sm) {
    flex-direction: column;
  }

  .app {
    max-width: 200px;
    width: 100%;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
