.cta {
  margin-top: 10px;

  // @include breakpoint-down(xl) {
  //   padding: 20px;
  //   position: fixed;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   background: rgba(13, 58, 60, 0.95);
  // };

  // @include breakpoint-down(sm) {
  //     padding: 15px;
  // }

  span {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
    // @include breakpoint-down(xl) {
    //   color: $white;
    // }
  }

  .subscribe-email {
    margin-bottom: unset !important;
    margin-top: unset !important;

    > span {
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 400;
      display: block;
    }

    #email-subscribe {
      max-width: unset;

      // @include breakpoint-up(460px) {
      //   flex-direction: row;
      // }

      input,
      button {
        height: 54px;
      }

      button {
        background: $green1;
        border-radius: 4px;
        min-width: 190px;

        @include breakpoint-up(md) {
          width: 40%;
        }
      }

      input {
        @include breakpoint-up(460px) {
          flex: 1;
          margin-right: 10px;
        }
      }
    }
  }

  .discount-notice {
    display: none;

    // @include breakpoint-down(sm) {
    //   display: block;
    //   color: #FF8E00;
    //   margin: 0px;
    //   margin-top: 10px;
    // }
  }

  .total-subcriber {
    margin-top: 10px;
    display: flex;

    .icon {
      margin-right: 20px;
    }

    .content {
      div,
      span,
      .highlight {
        font-size: 14px;
        line-height: 21px;
        color: $black;
      }
    }

    .signed-up-text {
      // @include breakpoint-down(sm) {
      //   &::before {
      //     content: "people";
      //   }
      // }
    }

    .label {
      font-weight: 500;
    }
  }

  &.sticky {
    z-index: 2;
    padding: 14px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 4px 0 rgba(203, 203, 203, 0.5);
    margin-top: 0px;

    .button-and-countdown-container {
      margin-top: 0px !important;
    }

    .countdown {
      display: none;
    }

    .subscribe-email {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    .total-subcriber {
      display: none;
    }

    #email-subscribe {
      display: flex;
      flex-direction: row;

      @include breakpoint-up(sm) {
        .title {
          display: block;
        }
      }

      .express-checkout-cointainer {
        display: none;
      }

      .shipping-info {
        display: none;
      }

      .price-info {
        display: block;

        .rocket {
          display: none;
        }

        .price {
          margin-top: 0px;

          .end-price {
            font-size: 20px;
            font-weight: 400;

            &::before {
              top: 0px;
              font-size: inherit;
            }
          }

          .origin-price {
            font-size: 16px;
            top: 0px;

            @include breakpoint-down(xl) {
              margin-top: 0px;
            }
          }
        }
      }

      align-items: center;
      input,
      button {
        height: 36px;

        @include breakpoint-down(xl) {
          height: 44px;
        }
      }

      @include breakpoint-down(sm) {
        > * {
          flex: 1;
        }

        padding-left: 15px;
        padding-right: 15px;
        a {
          width: 100%;
        }
      }
    }

    @include breakpoint-up(sm) {
      #email-subscribe {
        flex-direction: row;
        justify-content: center;

        #email-input {
          margin-bottom: 0px;
          margin-right: 10px;
        }
      }
    }

    @include breakpoint-down(xl) {
      top: unset;
      bottom: 0;
      box-shadow: 0 -2px 10px 0 rgba(185, 185, 185, 0.28);
    }
  }

  @include breakpoint-down(sm) {
    margin-top: 0px;
  }
}
