.newsletter-subscription-container {
  background-color: #252525;
  border-radius: 8px;
  padding: 50px 20px;
  margin-top: 80px;

  @include breakpoint-down(sm) {
    padding: 20px 30px 30px;
    margin-top: 30px;
  }

  .container {
    padding: 0 100px;
    text-align: center;

    @include breakpoint-down(sm) {
      padding: 0;
    }
  }

  h1.title {
    font-size: 32px;
    color: $white;
    line-height: 40px;
    margin-top: 0;

    &::after {
      margin: 20px auto 0;
      display: block;
      content: '';
      width: 30px;
      height: 3px;
      background-color: #0dc7d8;
    }
  }

  p.desc {
    color: $white;
    font-size: 16px;
    line-height: 24px;
  }

  #email-subscribe {
    margin: 30px auto 0;
  }
}
