.price-info {
  display: flex;
  align-items: center;

  @include breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
  }

  .price {
    margin-right: 4px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    color: $white;

    span {
      font-size: 40px;
      letter-spacing: 0;
      line-height: 23px;

      &.off-percentage {
        font-size: 27px;
        display: none;
      }

      &.origin-price {
        color: #8c9c9d;
        text-decoration: line-through;
        margin-right: 10px;
        font-size: 40px;
        position: relative;
        font-weight: 200;
      }
      &.end-price {
        font-weight: 500;
        margin-right: 10px;
        color: $black;

        &::before {
          content: '$';
          font-size: 0.5em;
          position: relative;
          top: -15px;

          @include breakpoint-down(sm) {
            top: -10px;
          }
        }
      }

      @include breakpoint-down(sm) {
        font-size: 22px;

        &.off-percentage {
          font-size: 18px;
        }

        &.origin-price,
        &.end-price {
          font-size: 35px;
        }
      }
    }
  }

  .total-subcriber {
    .highlight {
      text-decoration: underline;
    }

    @include breakpoint-up(sm) {
      padding-left: 15px;
      padding-top: 5px;
      border-left: 1px solid #e8e8e8;
    }
  }

  .rocket {
    display: flex;
    align-items: center;
    margin-left: 30px;

    .info {
      &,
      * {
        line-height: 20px;
        font-size: 14px;
        font-weight: 400;
      }
    }

    img {
      width: 28px;
      margin-right: 10px;
    }

    @include breakpoint-down(sm) {
      margin-left: 0px;
      margin-top: 20px;
    }
  }
}

.early-bird {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.custom-countdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #09969e !important;

  span {
    color: #09969e !important;
  }

  .group,
  .data,
  .label,
  span {
    font-size: 14px;
    letter-spacing: 0;
    display: inline;
    font-weight: 500;
  }

  .countdown {
    display: inline-block;
    color: $white;
    margin-right: 5px;

    .countdown-container {
      font-size: 16px;
      color: $white;
      display: flex;
      flex-direction: row;

      .group,
      .data,
      .label,
      span {
        margin-right: 3px;
        margin-left: 3px;

        &:first-child {
          margin-left: 0px;
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}
