.tooltip {
  z-index: 9999;
  box-shadow: 0 1px 5px 0 rgba(179, 179, 179, 0.5);
  border-radius: 4px;
  background-color: $black;
  position: absolute;

  .tooltip-inner {
    z-index: 2;
    max-width: 350px;
    font-size: 14px;
    line-height: 21px;
    padding: 20px;
    font-weight: 400;
    background-color: $black;
    box-sizing: border-box;
    transition: opacity 0.3ms;
    border-radius: 4px;
    position: relative;

    &,
    * {
      color: $white;
    }

    > div {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .tooltip-arrow {
    width: 10px;
    height: 10px;
    box-shadow: 0 1px 5px 0 rgba(179, 179, 179, 0.5);
    transform: rotate(45deg);
    background: $black;
    position: absolute;
    margin: 5px;
    z-index: 1;
  }

  &[x-placement='top'] {
    .tooltip-arrow {
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement='bottom'] {
    .tooltip-arrow {
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement='right'] {
    .tooltip-arrow {
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement='left'] {
    .tooltip-arrow {
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
}
