.video-popup {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 100px 100px;
  background-color: $white;
  z-index: 1000;

  @include breakpoint-down(lg) {
    padding: 100px;
  };

  @include breakpoint-down(sm) {
    padding: 100px 10px;
  };

  .content {
    height: 100%;
    width: 100%;
    margin-top: -30px;

    @include breakpoint-down(xl) {
      height: 80vw;
    }
  }

  .subscribe-form {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @include breakpoint-down(sm) {
      padding: 0 30px;
    }

    >div {
      flex: 1;
    }
  
    .cta {
      margin: 0px;

      @include breakpoint-up(xl) {
        .total-subcriber {
          display: none;
        }
      }
    }
  }

  .close-button {
    height: 38px;
    background: transparent;
    position: absolute;
    top: 30px;
    left: 30px;
    font-weight: 300;
    background-image: url('../image/icon/close.svg');
    background-size: contain;
    background-repeat: no-repeat;

    @include breakpoint-down(lg) {
      top: 10px;
      left: 10px;
    }
  }
}