.video-popup {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 100px 100px;
  background-color: $white;
  z-index: 1000;
  overflow: scroll;

  @include breakpoint-down(lg) {
    padding: 100px;
  }

  @include breakpoint-down(sm) {
    padding: 100px 10px;
  }

  > .content {
    height: 100%;
    width: 100%;
    margin-top: -30px;

    @include breakpoint-down(xl) {
      height: 80vw;
    }
  }

  .subscribe-form {
    position: relative;
    margin-top: 20px;
    padding: 0 30px;

    @include breakpoint-down(sm) {
      display: flex;
      flex-direction: column-reverse;

      .price-info {
        margin-top: 20px;

        .price {
          position: absolute;
          top: 0px;
        }
      }

      .cta {
        margin-top: 50px;

        &.sticky {
          margin-top: 0px;
        }
      }
    }
  }

  #close-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: $white;

    .close-button {
      height: 38px;
      background: transparent;
      margin-top: 30px;
      margin-left: 30px;
      font-weight: 300;
      background-image: url('../image/icon/close.svg');
      background-size: contain;
      background-repeat: no-repeat;

      @include breakpoint-down(lg) {
        margin-top: 10px;
        margin-left: 10px;
      }
    }
  }
}
