.video-popup {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 100px 100px;
  background-color: $white;
  z-index: 1000;
  overflow: scroll;

  @include breakpoint-down(lg) {
    padding: 100px;
  };

  @include breakpoint-down(sm) {
    padding: 100px 10px;
  };

  .content {
    height: 100%;
    width: 100%;
    margin-top: -30px;

    @include breakpoint-down(xl) {
      height: 80vw;
    }
  }

  .subscribe-form {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  
    .cta {
      margin: 0px;
      flex: 0.8;

      @include breakpoint-up(xl) {
        .total-subcriber {
          display: none;
        }
      }
    }

    @include breakpoint-down(xl) {
      flex-direction: column;

      #email-subscribe {
        margin-top: 30px;
      }
    }

    @include breakpoint-down(sm) {
      padding: 0 30px;
    }
  }

  #close-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: $white;
    
    .close-button {
      height: 38px;
      background: transparent;
      margin-top: 30px;
      margin-left: 30px;
      font-weight: 300;
      background-image: url('../image/icon/close.svg');
      background-size: contain;
      background-repeat: no-repeat;

      @include breakpoint-down(lg) {
        margin-top: 10px;
        margin-left: 10px;
      }
    }
  }
}