extends ../layout.pug


block title
    title Go Incognito. Buy and sell Bitcoin anonymously without KYC.

block meta
    - var descriptionContent = `You don’t have to give up your identity to buy and sell Bitcoin anonymously. You don’t have to surrender your documents to trade Ethereum and other coins. pDEX is first non-custodial, completely decentralized, anonymous Bitcoin exchange. Oh, and you can become a liquidity provider and list your own trading pairs.`;
    meta(property="og:image" content="/Aboutus.png")
    meta(name='description', content=descriptionContent)
    meta(name='og:description' content=descriptionContent)
    meta(name='twitter:description' content=descriptionContent)   

block main
    include ../header.pug
    div#dex-container.abs-center-ver
        .extra.abs-center-ver
            include trading_board.pug
            div.device
                div.img-container
            include intro.pug