.intro-container.bounceInUp-ani
    p.title Trade crypto 
        br 
        span anonymously
    p.desc No KYC, no records. Non-custodial,
        br
        | decentralized. 
        br 
        | Don’t see your coin? 
        a.link(href="") List it yourself
    include /common/app_store
    +app_store(true)



