mixin list(desc)
  li
    span= desc

div#intro-container.bounceInUp-ani
  .content
    div.intro
      div
        h1.heading Incognito DEX
        h1.title Trade crypto privately
        p.sub-title Completely anonymous trading – no KYC, no records of buyers, sellers or transaction amounts. No third party risk – you control your money and hold your own private keys. Decentralized, scalable, cross-chain liquidity. Trade BTC, ETH, PRV and more with 100% confidentiality.
        p.sub-title Coming 5 November 2019. Sign up now to get first access.

        #subscribe-container
          include ../common/subscribe_form
          +subscribe_email('Be the first', 'dex')
