#trading-board-container.trading-board-container
    .tb-intro
        p.desc#total-liquid
    .crypto-item.crypto-item-header
        p
        p.crypto-name
            | Name
        p.last-price
            | Last average price
    .tb-main
