#trading-board-container.trading-board-container
    .tb-intro
        p.desc#total-liquid
    .tb-main
        .crypto-item 
            p.crypto-name
                | Name
            p.last-price
                | Last average price      
