mixin item(label) 
  .category
    .info
      span.label= label
      div.desc
        block


#categories-container
  +item('Earn crypto in your sleep')
    p Node is a different type of home device, the easiest way to explore a whole new economy. Get and accumulate crypto just by plugging node in. Earn passive income from anywhere in the world.

  +item('Pocket-friendly, eco-conscious')
    p Node is whisper-quiet, energy-efficient, and costs less than 10 cents to run all day. Make bitcoin without breaking the bank.
  
  +item('Earn multiple cryptocurrencies')
    p The token economy is growing in size and diversity. Billions of dollars in crypto circle the globe every day. Every time someone chooses privacy, you earn transaction fees in that currency. Collect the most promising coins of today and tomorrow.
  
  +item('Be anywhere. Earn anywhere.')
    p Node doesn’t require babysitting. Use the mobile app to start, pause, resume and track your earnings - from your couch, at the beach or on the go.