extends ../layout.pug

block title
   title Plug and play to earn crypto.
   
block main
   #checkout-node-container
      include ../header.pug
      #content
         include intro.pug
         include categories.pug
   