extends ../layout.pug


block title
   title Privately send Bitcoin, Ethereum, and more.

block main
   include ../header.pug
   //- include ../telegram_chat.pug
   div#self-funded-container
      div.intro-slider-container
         .image
            .desktop
               i-slider(images=[{
                     img: require('../../image/self_funded/self_funded_slider_1.jpg'),
                     position: 'top',
                     paddingTop: 'calc(100vh - 60px)'
                  }
               ])
            img(src=require('../../image/self_funded/self_funded_mobile_bg.png')).mobile
         .right-content
            include intro.pug
      //- include section.pug
      //- include question.pug