mixin list(desc)
  li
    span= desc

div#intro-container.bounceInUp-ani
  .content
    div.intro
      div
        h1.heading Bootstrapped
        h1.title As the first believers, we bear the risk.
        p.sub-title The first line of code was written in May 2018. There was no ICO, private sale or VC funding. The core team pooled together a collective $1M to self-fund Incognito’s development for 18 months. They didn’t want to accept external funding before the project became a reality.
        p.sub-title At the mainnet launch on November 2019, 5% of the total supply (5M PRV) will be pre-mined to compensate the core team for their initial investment. The remaining 95% of the total supply (95M) is strictly mined through block rewards.There is no other pre-allocation.
        p.sub-title After the mainnet launch, Incognito will continue to fund development using a small portion of block rewards.
        p.sub-title This funding structure reduces price-speculation, avoids public market pressure, and retains focus on building and shipping a great platform for decentralized privacy tokens.
        .button-links
          a(href='https://docs.google.com/document/d/1xi-h509kmd2tqckeY-Fa5zp0bB2TD55KanNd7HbYdMc', target='blank')
            button Read token economics

      
