#footer-container
  .container
    .image
      img(src=require('@image//wallet/wallet_footer_logo.png'))
    .content
      h1.title Ready to go Incognito?
      p.desc Just download the wallet.
      include /common/app_store
      +app_store(false)