extends ../layout.pug


block title
   title Send Bitcoin anonymously. Make your bitcoin untraceable.
   
block meta
    meta(property="description" content="Looking to send Bitcoin anonymously? Now you can stay completely anonymous when you send not just Bitcoin, but also Ethereum or any other cryptocurrency. Use the Incognito anonymous bitcoin wallet to hide your bitcoin activity from prying eyes. Turn all your coins into privacy coins.")
    meta(property="og:image" content=require('../../image/wallet/wallet_slider_1.jpg'))
    meta(property="og:description" content="Looking to send Bitcoin anonymously? Now you can stay completely anonymous when you send not just Bitcoin, but also Ethereum or any other cryptocurrency. Use the Incognito anonymous bitcoin wallet to hide your bitcoin activity from prying eyes. Turn all your coins into privacy coins.")

block main
   include ../header.pug
   //- include ../telegram_chat.pug
   div#wallet-container
      div.intro-slider-container
         .image
            .desktop
               i-slider(images=[{
                     img: require('../../image/wallet/wallet_slider_1.jpg'),
                     position: 'top',
                     paddingTop: 'calc(100vh - 60px)'
                  }
               ])
            img(src=require('../../image/wallet/wallet_mobile_bg.jpg')).mobile
         .right-content
            include intro.pug
      //- include section.pug
      //- include question.pug