extends ../layout.pug


block title
   title Send Bitcoin anonymously. Make your bitcoin untraceable.
   
block meta
   - var descriptionContent = `Looking to send Bitcoin anonymously? Now you can stay completely anonymous when you send Bitcoin, Ethereum or any other cryptocurrency. Use the Incognito anonymous bitcoin wallet to hide your bitcoin activity from prying eyes. Turn all your coins into privacy coins.`;
   meta(name='description' content=descriptionContent)
   meta(name='og:description' content=descriptionContent)
   meta(name='twitter:description' content=descriptionContent)

block main
   include ../header.pug
   //- include ../telegram_chat.pug
   div#wallet-container
      #content
         include ./intro
         include ./section
         include ./footer
         .container
            include /common/newsletter_subscription
            +newsletter_subscription