#intro-container
  .container
    .info
      h1.title
        span.highlight Privately
        br
        |Send Bitcoin
      .descs
        p.desc Hide your Bitcoin activity from prying eyes with a single tap. This multi-currency anonymous crypto wallet allows you to 
          span.highlight transact without a trace. 
          |Turn on privacy for your BTC, ETH, DAI and more.
      include /common/app_store
      +app_store(false)

    .image
      img(src=require('@image/wallet/wallet_intro_logo.png'), alt='wallet intro logo')