mixin section(title, desc, image)
  .section
    .section__wrapper.container.visible-effect
      .section__content
        h1.title= title
        p.desc= desc
      .section__image
        img(src=image)
      
#section-container
  +section(
    'Isn’t crypto already private?',
    'No. Right now, anyone can find out how much Bitcoin you have and what you do with it. Every single detail of your crypto finances is displayed for the world to see. Find that a little uncomfortable? Time to protect your privacy.',
    require('@image/wallet/wallet_section_1.png')
  )
  +section(
    'Stop others from searching your address and tracking your activity',
    'Go invisible, be untraceable, choose privacy. Obscure senders, receivers, amounts and histories with a single tap. Every transaction made with the Incognito Wallet is privacy-protected. Now no one can snoop through your crypto finances.',
    require('@image/wallet/wallet_section_2.png')
  )
  +section(
    'Turn all your coins into privacy coins',
    'Incognito isn’t just another privacy coin like Zcash or Monero. Incognito turns all your favorite coins into privacy coins. One tap to turn your Bitcoin into privacy Bitcoin. One tap to turn it public again. You’ve found the most convenient way to transact anonymously.',
    require('@image/wallet/wallet_section_3.png')
  )