mixin list(desc)
  li
    span= desc

div#intro-container.bounceInUp-ani
  .content
    div.intro
      div
        h1.heading Free Software
        h1.title Incognito is open source.
        p.sub-title Incognito embraces a full-stack approach to decentralized privacy, reimagining technology at every layer. Every line of its code is freely available. 
        p.sub-title Anyone can participate, everyone can join, no one can ever restrict or control Incognito. Incognito is and will always be 100% open-source.
        p.sub-title Get stuck into the code and make the project better, or build your own amazing products and applications on top of Incognito. Thinking bigger? Fork the code and build your very own privacy blockchain. 
        p.sub-title Developers, how will you use your superpowers?
        .button-links
          a(href='https://github.com/incognitochain?tab=repositories', target='blank')
            button Browse the code

      
