mixin buy_now(btnText = 'Buy Now', btnSmallText = 'Buy Now')
  #buy-now-container
    .title Earn crypto with Node
    include ./price_info 
    //- .express-checkout-cointainer
    //-   #amazon-express-checkout-container
    //-     #amazon-express-checkout-btn
    //-     button.mask 
    //-       img(src=require('../../image/icon/amazon-icon.svg'), alt='amazon express pay icon').icon
    //-       span.content Pay with Amazon
    //-       span.content.sticky Pay
    a(href='/payment.html').buy-now-link
      button.buy-now-btn
        span.content#text= btnText
        span.content.sticky= btnSmallText