.countdown-container
  .days.group
    span.data 00
    span.label days
  .divide :
  .hours.group
    span.data 00
    span.label hours
  .divide :
  .mins.group
    span.data 00
    span.label minutes
  .divide :
  .seconds.group
    span.data 00
    span.label seconds