form(onsubmit='return false;').invite-email-form
  span Help your friends earn money in their sleep
  textarea(placeholder='Enter email addresses, separated by commas', rows='2', required)#email-input
  button(type='submit').submit-email Email your friends