form(onsubmit='return false;').invite-email-form
  textarea(placeholder='Enter email addresses, separated by commas', rows='4', required)#email-input
  button(type='submit').submit-email Email your friends