.price-info
    .price
      span.end-price 299
      span.origin-price $399
    div.rocket
      .info.offer-wrapper 
        img(src=require('../../image/icon/shipping.svg')).icon
        span Ships Nov 25 - Dec 15