.price-info
    .price
      span.end-price 399
      //- span.origin-price $399
    div.rocket
      .info.offer-wrapper 
        img(src=require('../../image/icon/shipping.svg')).icon
        span Ships Feb 25 - Mar 15