.price-info
  .price
    //- span.end-price ...
    //- span.promote-price 349
    //- span.origin-price $399
  //div.rocket
  //  .info.offer-wrapper
  //    img(src=require('../../image/icon/shipping.svg')).icon
  //  span.shipppingTime Ships within 24 hours

