.price-info
    .price
      span.end-price 299
      span.origin-price $399
      |
      span.off-percentage (-50%)
    div.rocket
      //- img(src=require('../../image/icon/rocket.svg'))
      .info.offer-wrapper Ships Oct 31 - Nov 25
        //- br
        //- span.highlight Early bird prices end when the timer hits zero.
        //- .custom-countdown
        //-   .countdown.visible-effect
        //-     .countdown-container
        //-       .days.group
        //-         span.data 00
        //-         span.label days  
        //-       .hours.group
        //-         span.data 00
        //-         span.label :
        //-       .mins.group
        //-         span.data 00
        //-         span.label :
        //-       .seconds.group
        //-         span.data 00
        //-   span left