mixin subscribe_email(btnText)
  #email-subscribe
    //- input(placeholder='Enter your email', required, type='email', pattern='[A-Za-z0-9._%+-]{3,}@[a-zA-Z0-9-]{2,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})')#email-input
    .title Earn crypto with Node
    include ./price_info
    a(href='/payment.html').buy-now-link
      button.buy-now-btn
        span#text
          if btnText
            != btnText
          else 
            |Get early access
    .shipping-info *Ships 25th November