.cta
  .subscribe-email
    div
      include ../common/subscribe_form.pug
      +subscribe_email('Buy Now')
      //- .total-subcriber
        //- div.icon
        //-   img(src=require('../../image/icon/node_icon.svg'))
        //- div.content
        //-   //- div For Early Bird Special
        //-   div
        //-     span Limited quantity. 
        //-       span.highlight
        //-         span(role='counter') 1000+ 
        //-         | 
        //-         span.signed-up-text 
        //-           span.highlight early birds
        //-     |  already signed up. 