.cta
  .subscribe-email
    div
      include ../common/subscribe_form.pug
      +subscribe_email('GET 50% OFF')
  h3.discount-notice 50% OFF
  .total-subcriber
    span.label Limited quantity.
    | 
    span(role='counter') 1000+ 
    | 
    span.signed-up-text 
      span.highlight early birds 
    | already signed up. 