include ../common/collapse.pug

mixin question(ques, ans)
  .question-container
      +collapseItem(ques, ans)
        block

#top-question-container
  .container
    .label
      h1 Top questions from users
    .content.visible-effect
      +collapse('top-question')
        block content

