mixin question(ques, ans)
  .question-container.collapse
    span.question= ques
    .answer
      if ans
        span= ans
      if block
        block


#top-question-container
  .container
    .label
      h1 Top questions from users
    .content.visible-effect
      block content