extends ../layout.pug

block title
   title Incognito mode for blockchains.
   
block main
   include ../header.pug
   div#airdrop-container
         h1.title Claim your piece of the Incognito Network
         p We are distributing 
            span.highlight 500,000 PRV 
            |to early adopters like you. All you need to do is tell the world that incognito mode for their crypto is here.
         #box
            p Use this clever little telegram bot get 
               span.bold 33 USD or more.
            a(href='https://t.me/incognitochainbot', target='blank').telegram-btn
               button
                  img(src=require('../../image/airdrop/airdrop-telegram-icon.svg')).icon
                  |Launch the Incognito bot
         p 
            a(href='http://tiny.cc/kh4scz', target='blank') How does this work ?  
