extends ../layout.pug

block title
   title Referral
   
block main
   include ../header.pug
   include ../telegram_chat.pug
   div#content
      #referral-container
         include intro.pug
         include info.pug
         //- include question.pug
   

block bodyscript
   script(src="https://apis.google.com/js/api.js")