#referral-info
  .container.content
    include countdown.pug
    span.divider -------------------
    span.current-status Your current status: 
      span.status --
    span.referred-box You referred 
      span.friend-number 0
      |
      | friends. Bring 
      span.bring-friend-number 0
      |
      | more onboard to graduate to
      |
      span.next-status --
      | .
    
    .level-box-container
      .level-box.visible-effect
        .box.label
          div
          div
          div
            span YOU ARE NOW
          div
            span FRIENDS YOU NEED
          div
            span YOU GET