#referral-info
  .container.content
    //- include countdown.pug
    //- span.divider -------------------
    span.current-status Your current status: 
      span.status --
    span.referred-box 
    .level-box-container
      .level-box.visible-effect
        .box.label
          div
          div
            span YOU ARE NOW
          div
            span FRIENDS YOU NEED
          div
            span YOU GET