#referral-info
  .container.content
    //- include countdown.pug
    //- span.divider -------------------
    span.current-status
    span.referred-box 
    .level-box-container
      .level-box.visible-effect
        .box.label
          div
            span FRIENDS YOU NEED
          div.offer-price
            span YOU GET
        .box.crown
          div.icon
            img(src=require('../../image/crown.svg'))
            div CROWN
          div.offer-price
            img(src=require('../../image/free_node.svg'))
    
    span PS: No bots, fake emails, or multiple aliases. Play nice.