#referral-info
  .container.content
    //- include countdown.pug
    //- span.divider -------------------
    span.current-status
    span.referred-box 
    .level-box-container
      .level-box.visible-effect
        .box.label
          div
            span FRIENDS YOU NEED
          div
            span YOU GET
    
    span PS: No bots, fake emails, or multiple aliases. Play nice.