#referral-intro.container
  .image
    img(src=require('../../image/device.jpg'), alt='device')
  .content
    .block1
      p.desc Let's build a better internet together.
      h1.title Invite friends. Get the Miner for free.
      p.desc Help your friends earn money in their sleep too. Share your unique link via email, Facebook or Twitter and earn rewards for each friend who signs up.

    .block2
      .copiable.copy-content
        span.referral-link
        button.copy-btn Copy
      
      .btns
        button.share-facebook
          img(src=require('../../image/icon/facebook.svg'), alt='fb icon')
          | Facebook
        button.share-twitter
          img(src=require('../../image/icon/twitter.svg'), alt='twitter icon')
          | Twitter
        //- button.share-google
        //-   img(src=require('../../image/icon/mail.svg'))
        //-   | Email
      //- span.divider
      //-   span Or via email
      //- include ../common/invite_email_form.pug