#referral-intro.container
  .image
    img(src=require('../../image/device.jpg'))
  .content
    .block1
      p.desc Thanks for your interest in The Miner.
      p.desc You’re in the draw to win the Miner for free. We’re giving away 100 units.
      p.desc(style='font-weight:bold') The more you share, the better your odds. Good luck!

    .block2
      .copiable.copy-content
        span.referral-link
        button.copy-btn Copy
      
      .btns
        button.share-facebook
          img(src=require('../../image/icon/facebook.svg'))
          | Facebook
        button.share-twitter
          img(src=require('../../image/icon/twitter.svg'))
          | Twitter
        //- button.share-google
        //-   img(src=require('../../image/icon/mail.svg'))
        //-   | Email
      
      include ../common/invite_email_form.pug