#referral-intro.container
  .image
    img(src=require('../../image/device.webp'))
  .content
    .block1
      p.desc Help your friends earn money in their sleep
      h1.title Invite friends. Get the Miner for free.

    .block2
      .copiable.copy-content
        span.referral-link
        button.copy-btn Copy
      
      .btns
        button.share-facebook
          img(src=require('../../image/icon/facebook.svg'))
          | Facebook
        button.share-twitter
          img(src=require('../../image/icon/twitter.svg'))
          | Twitter
        //- button.share-google
        //-   img(src=require('../../image/icon/mail.svg'))
        //-   | Email
