#referral-intro.container
  .image
    span.caption Be the first
  .content
    h1.title Build real privacy for our internet.
    p.desc
      span.highlight Earn Incognito’s native coin Privacy (PRV), for each friend that signs up. 
      | Oh, and get Node, the sleekest mining hardware in the world.

    .copiable.copy-content
      span.referral-link
      button.copy-btn Copy
    
    .btns
      button.share-twitter Share on Twitter
      button.share-facebook Share on Facebook