include ../common/top_question.pug
  +question('What is Incognito?', 'Incognito is a group of gadget lovers and engineers, who work together to build the Miner.')
  +question('What is the Miner?', 'The Miner is an energy efficient smart device that mines the most popular cryptocurrencies, such as Bitcoin and Ethereum.')
  +question('How many Miners will be made?', 'In order to provide a good product experience, we\'re only making a few Miners at a time, so each one gets our full attention.')
  +question('How can I get the Miner for free?', 'The more friends you refer, the bigger the discount. When you reach the top level - Guardian - the Miner is yours for free.')
  +question('How do I see how much I\'ve earned?', 'The Miner comes with its own app. It allows you to track and withdraw the cryptocurrency you\'ve earned.')
  +question('How exactly does the Miner make money?', 'Every single Miner works together to power the Incognito blockchain, which allows users to send and receive crypto privately. These users pay the Miners for their efforts in cryptocurrency.')