include ../common/top_question.pug
  +question('What is the Miner?', 'The Miner is an energy efficient smart device that mines the most popular cryptocurrencies, such as Bitcoin and Ethereum.')
  +question('How many Miners will be made?', 'In order to provide a good product experience, we\'re only making a few Miners at a time, so each one gets our full attention.')
  +question('How can I get the Miner for free?', 'When you enter your email, you\'ll be entered in a draw to win the Miner for free. The more friends you refer, the more likely your chances. 100 units are up for grabs.')
  +question('How do I see how much I\'ve earned?', 'The Miner comes with its own app. It allows you to track and withdraw the cryptocurrency you\'ve earned.')
  +question('How exactly does the Miner make money?', 'Every single Miner works together to power the Incognito blockchain, which allows users to send and receive crypto privately. These users pay the Miners for their efforts in cryptocurrency.')