include ../common/top_question.pug
  +question('What is Incognito?', 'The maker of The Miner.')
  +question('What is the Miner?', "The Miner is an energy efficient smart device that that mines your favorite currency, whether that's Bitcoin, Ethereum, or good old fashioned USD.")
  +question('What is Privacy Coin?', 'The Miner needs to be fueled by Privacy Coin.')
  +question('How many Miners will be made?', 'In order to provide a good product experience, we’re only making a few Miners at at time, so each one gets our full attention.')
  +question('How can I get the Miner for free?', 'The only way to receive the Miner for free is to be a Keeper (the top 10%).  Guardians (the top 1%) will receive the Miner Pro.  We want to build a fun, engaging, and thriving community.  Refer friends to level up.')