extends ../layout.pug


block title
   title Host a Node. Earn crypto.
   
block main
   div#miner-container
      .intro-slider-container
         .image
            i-slider
            img(src=require('../../image/home_image_mobile.jpg'), alt='home image mobile').mobile
         .right-content
            include ../header.pug
            include intro.pug
      include section.pug
      include question.pug