@mixin button {
  height: $btn-height;
  border-radius: 6px;
  font-weight: 500;
  font-size: 20px;
  font-family: $default-font;
  border: none;
  padding: 0px 23px;
  background: $btn-background-color;
  color: $btn-text-color;
  cursor: pointer;

  &:hover {
    &:not(:disabled) {
      opacity: 0.8;
    }
  }

  &:disabled {
    background: #bbbfc4;
  }

  &.loading {
    padding-left: 50px;
    &::before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      width: 20px;
      height: 20px;
      margin-top: -3px;
      margin-left: -32px;
      border-radius: 50%;
      border: 2px solid $white;
      border-top-color: transparent;
      animation: spin 0.6s linear infinite;
    }
  }
}

button {
  @include button;
}
