@font-face {
  font-family: 'Post Grotesk';
  src: url('../assets/fonts/PostGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Post Grotesk';
  src: url('../assets/fonts/PostGrotesk-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Post Grotesk';
  src: url('../assets/fonts/PostGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Post Grotesk';
  src: url('../assets/fonts/PostGrotesk-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Post Grotesk';
  src: url('../assets/fonts/PostGrotesk-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Post Grotesk';
  src: url('../assets/fonts/PostGrotesk-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Post Grotesk';
  src: url('../assets/fonts/PostGrotesk-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Post Grotesk';
  src: url('../assets/fonts/PostGrotesk-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Post Grotesk';
  src: url('../assets/fonts/PostGrotesk-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Post Grotesk';
  src: url('../assets/fonts/PostGrotesk-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Post Grotesk';
  src: url('../assets/fonts/PostGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Post Grotesk';
  src: url('../assets/fonts/PostGrotesk-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  src: url('../assets/fonts/fa-brands-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
