input {
  &:not([type='radio']):not([type='checkbox']) {
    background: #ffffff;
    border-radius: 8px;
    height: $input-height;
    border: none;
    margin: 0px;
    padding: 0px;
    padding: 0px 23px;
    color: $black;
    font-size: 20px;
  }
}
