// colors
$green: #0dc7d8;
$green1: #1A73E8;
$blue: #41b4e6;
$blue1: #1b97fb;
$white: white;
$whitegrey: #fafafa;
$white2: #f0f5f5;
$black: white;
$black1: #20252b;
$black2: #1d1f20;
$black3: #30353b;
$black4: #14191e;
$black5: #101111;
$grey: #bbbfc4;
$grey1: #333333;
$grey2: #70777e;
$grey3: white;
$red: red;
$red2: #fe4d4d;
$pink: #ff0055;
$grey-light: #b2b7bd;

$background-color: #191919;
$box-color: #252525;
$box-color-2: #303030;
$border-color: #545454;
$text-color: $grey3;
$btn-background-color: #1A73E8;
$btn-text-color: #ffffff;
$overlay-bg-color: rgba(1, 1, 1, 0.6);

// spacing
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$page-width: 1440px;
$page-padding: 200px;

$btn-height: 64px;
$input-height: $btn-height;
$header-height: 60px;
$footer-height: 150px;

// font
$default-font-size: 16px;
$default-font: 'SFProText';
$default-line-height: 25px;

// decor

// mobile
$sm-input-height: 48px;
