// colors
$green: #0DC7D8;
$blue: #41B4E6;
$white: white;
$whitegrey: #fafafa;
$white2: #F0F5F5;
$black: #111111;
$black1: #20252B;
$black2: #1D1F20;
$black3: #30353B;
$black4: #14191E;
$black5: #101111;
$grey: #BBBFC4;
$grey1: #333333;
$grey2: #70777E;
$red: red;
$grey-light: #B2B7BD;

$background-color: white;
$text-color: $grey1;
$btn-background-color: $green;
$btn-text-color: #131413;
$overlay-bg-color: rgba(1,1,1,0.6);

// spacing
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$page-width: 1440px;
$page-padding: 200px;

$btn-height: 64px;
$input-height: $btn-height;
$header-height: 60px;
$footer-height: 150px;

// font
$default-font-size: 16px;
$default-font: 'Colfax';

// decor

// mobile
$sm-input-height: 40px;