#explaination.container
    .info.visible-effect
        h3.label Incognito mode for the token economy.
    .content
        .left-side
            img(src=require('../../image/about/about_us_explanation.svg'))
        .right-side 
            div.desc If you’re here reading this, you already know how fast crypto assets are changing the way we think about money. For those who value privacy, crypto assets come with a big tradeoff. Transactions are recorded on public ledgers, displaying amounts involved, inscribing virtual identities of their senders and receivers. 
            div.desc Given the choice, we strongly believe that very few people will willingly disclose their crypto financials to the entire world. Incognito offers anyone the option to turn on privacy mode in this new world of crypto networks.