mixin list(desc)
  li
    span= desc

div#intro-container.bounceInUp-ani
  .content
    div.intro
      div
        h1.heading What we do
        h1.title We build the privacy layer of the decentralized web.
        p.sub-title If you’re here reading this, you already know how fast crypto assets are changing the way we think about money.
        p.sub-title For those who value privacy, crypto assets come with a big tradeoff. Transactions are recorded on public ledgers, displaying amounts involved, inscribing virtual identities of their senders and receivers.
        p.sub-title Given the choice, we strongly believe that very few people will willingly disclose their crypto financials to the entire world. Incognito offers anyone the option to turn on privacy mode in this new world of crypto networks.