mixin list(desc)
  li
    span= desc

div#intro-container
  .content.container
    div.intro
      div
        h1.heading INCOGNITO’S MISSION
        p.sub-title We believe the lack of privacy is the biggest threat to the entire crypto space. Our mission is to bring privacy to cryptocurrencies and make privacy accessible and simple for everyone.