mixin list(desc)
  li
    span= desc

div#intro-container
  .content.container
    div.intro
      div
        h1.heading We believe you should have a choice.
        p.sub-title The lack of privacy is the biggest threat to the crypto space.
          <br/>
          |That's why we work to create solutions that make privacy widely accessible and incredibly simple for anyone, anywhere on earth, to exercise their right to that choice.