#about-intro.container.bounceInUp-ani
  h3.sub-title Our Mission
  h2.title To build the privacy layer of the decentralized web.
  p.desc Crypto networks have introduced an entirely new asset class: crypto assets.  Bitcoin was the first crypto asset; today there are over 1,600. Assets like BTC, ETH, MKR, and USDT are quickly being woven into the fabric of everyday life. People have started buying bitcoin, instead of gold, as their long-term store of value. Stored under the mattresses of volatile economies, the world’s most desirable fiat currencies are being replaced by stablecoins, that can be sent and received with borderless freedom. Waves of startups now sell crypto assets to investors, not equity.
  p.desc For those who value privacy, crypto assets come with a big tradeoff. Transactions are recorded on a public decentralized ledger, displaying amounts involved, inscribing virtual identities of their senders and receivers. Given the choice, we strongly believe that very few people will willingly disclose their crypto financials to the entire world.
  p.desc Incognito offers anyone the option to turn on privacy mode in this new world of crypto networks.