mixin member(avatar, name, title)
  .member
    .avatar
      img(src=avatar)
    .description
      .name= name
      .title= title

#about-team
  .info.container.visible-effect
    h3.label The founding team
    p.desc We’re a diverse team of 30+ cryptographers, distributed system researchers, programmers, and community builders - busy building the privacy layer of the decentralized web.


  .container.visible-effect
    .team-group
      button#distributed-systems.group(filter='distributed-systems').active Distributed Systems
      button#cryptography.group(filter='cryptography') Cryptography
      button#applications.group(filter='applications') Applications
      button#hardware.group(filter='hardware') Hardware
      button#community.group(filter='community') Community
    
    .gallery  
      .group#cryptography
        +member(require('../../image/about/team/Thuc.svg'), 'Thuc', 'Researcher')
        //- +member(require('../../image/about/team/anonymous.png'), 'Khoa', 'Researcher')
        +member(require('../../image/about/team/Hieu.svg'), 'Hieu', 'Researcher')
        +member(require('../../image/about/team/Hien.svg'), 'Hien', 'Researcher')
        //- +member(require('../../image/about/team/Hy.svg'), 'Hy', 'Programmer')

      .group.active#distributed-systems
        +member(require('../../image/about/team/DungTran.svg'), 'Dung', 'Researcher')
        +member(require('../../image/about/team/ThaiBao.svg'), 'Bao', 'Programmer')
        +member(require('../../image/about/team/Lam.svg'), 'Lam', 'Programmer')
        +member(require('../../image/about/team/Hung.svg'), 'Hung', 'Programmer')
        //- +member(require('../../image/about/team/dungv.png'), 'Dung', 'Programmer')
        +member(require('../../image/about/team/DuyBao.svg'), 'Bao', 'Programmer')
        +member(require('../../image/about/team/Duc.svg'), 'Duc', 'Programmer')
        +member(require('../../image/about/team/Khanh.svg'), 'Khanh', 'Tester')

      .group#applications
        +member(require('../../image/about/team/Phuong.svg'), 'Phuong', 'Programmer')
        +member(require('../../image/about/team/Vuong.svg'), 'Vuong', 'Programmer')
        +member(require('../../image/about/team/Tien.svg'), 'Tien', 'Programmer')
        +member(require('../../image/about/team/Hoai.svg'), 'Hoai', 'Programmer')
        //- +member(require('../../image/about/team/an.png'), 'An', 'Product Designer')

      .group#hardware
        //- +member(require('../../image/about/team/Linh.svg'), 'Linh', 'Industrial Designer')
        +member(require('../../image/about/team/HienTon.svg'), 'Hien', 'Programmer')
        +member(require('../../image/about/team/Binh.svg'), 'Binh', 'Programmer')

      .group#community
        +member(require('../../image/about/team/Duy.svg'), 'Duy', 'Community')
        +member(require('../../image/about/team/Henry.svg'), 'Henry', 'Community')
        //- +member(require('../../image/about/team/thang.png'), 'Peter', 'Community')
        +member(require('../../image/about/team/Annie.svg'), 'Annie', 'Community')
        +member(require('../../image/about/team/Andrey.svg'), 'Andrey', 'Community')
        +member(require('../../image/about/team/Ning.svg'), 'Ning', 'Communications')

  .info.container.visible-effect
    h3.label Join Incognito
    p.desc We’re looking for deeply technical people as well as switched-on generalists. If you’re interested in what we’re building, email us at 
      a(href='mailto:go@incognito.org') go@incognito.org.