mixin member(avatar, name, title)
  .member
    .avatar
      img(src=avatar)
    .description
      .name= name
      .title= title

#about-team
  .info.container.visible-effect
    h3.label OUR TEAM
    p.desc We’re a diverse team of 30+ cryptographers, distributed system researchers, programmers, and community builders - busy building the privacy layer of the decentralized web.


  .container.visible-effect
    .team-group
      button#cryptography.group(filter='cryptography').active Cryptography
      button#distributed-systems.group(filter='distributed-systems') Distributed Systems
      button#applications.group(filter='applications') Applications
      button#hardware.group(filter='hardware') Hardware
      button#community.group(filter='community') Community
    
    .gallery  
      .group.active#cryptography
        +member(require('../../image/about/team/thuc.png'), 'Thuc', 'Researcher')
        +member(require('../../image/about/team/anonymous.png'), 'Khoa', 'Researcher')
        +member(require('../../image/about/team/hieutran.png'), 'Hieu', 'Researcher')
        +member(require('../../image/about/team/hiennguyen.png'), 'Hien', 'Researcher')
        +member(require('../../image/about/team/hy.png'), 'Hy', 'Programmer')

      .group#distributed-systems
        +member(require('../../image/about/team/dungtran.png'), 'Dung', 'Researcher')
        +member(require('../../image/about/team/thaibao.png'), 'Bao', 'Programmer')
        +member(require('../../image/about/team/lamchau.png'), 'Lam', 'Programmer')
        +member(require('../../image/about/team/hung.png'), 'Hung', 'Programmer')
        +member(require('../../image/about/team/dungv.png'), 'Dung', 'Programmer')
        +member(require('../../image/about/team/duybao.png'), 'Bao', 'Programmer')
        +member(require('../../image/about/team/duc.png'), 'Duc', 'Programmer')
        +member(require('../../image/about/team/khanhle.png'), 'Khanh', 'Tester')

      .group#applications
        +member(require('../../image/about/team/phuong.png'), 'Phuong', 'Programmer')
        +member(require('../../image/about/team/vuong.png'), 'Vuong', 'Programmer')
        +member(require('../../image/about/team/duongtien.png'), 'Tien', 'Programmer')
        +member(require('../../image/about/team/hoai.png'), 'Hoai', 'Programmer')
        +member(require('../../image/about/team/an.png'), 'An', 'Product Designer')

      .group#hardware
        +member(require('../../image/about/team/linh.png'), 'Linh', 'Industrial Designer')
        +member(require('../../image/about/team/binh.png'), 'Hien', 'Programmer')
        +member(require('../../image/about/team/binh.png'), 'Binh', 'Programmer')

      .group#community
        +member(require('../../image/about/team/duy.png'), 'Duy', 'Community')
        +member(require('../../image/about/team/henry.png'), 'Henry', 'Community')
        +member(require('../../image/about/team/thang.png'), 'Peter', 'Community')
        +member(require('../../image/about/team/annie.png'), 'Annie', 'Community')
        +member(require('../../image/about/team/andrey.png'), 'Andrey', 'Community')
        +member(require('../../image/about/team/ning.png'), 'Ning', 'Communications')

  .info.container.visible-effect
    h3.label JOIN INCOGNITO
    p.desc We’re looking for deeply technical people as well as switched-on generalists. If you’re interested in what we’re building, email us at 
      a(href='mailto:go@incognito.org') go@incognito.org.