mixin member(avatar, name, title)
  .member
    .avatar
      img(src=avatar)
    .description
      .name= name
      .title= title

#about-team
  .info.container.visible-effect
    h3.label OUR TEAM
    p.desc We’re a diverse team of 15 cryptographers, distributed system researchers, and programmers - busy building the privacy layer of the decentralized web.


  .container.visible-effect
    .team-group
      button#development.group(filter='development').active Development
      button#design.group(filter='design') Design
      button#community.group(filter='community') Community
      button#communications.group(filter='communications') Communications
    
    .gallery  
      .group.active#development
        +member(require('../../image/about/team/duy.png'), 'Duy', 'Project Lead')
        +member(require('../../image/about/team/thaibao.png'), 'Bao', 'Programmer')
        +member(require('../../image/about/team/thuc.png'), 'Thuc', 'Cryptographer')
        +member(require('../../image/about/team/hiennguyen.png'), 'Hien', 'Cryptographer')
        +member(require('../../image/about/team/hy.png'), 'Hy', 'Cryptographer')
        +member(require('../../image/about/team/anonymous.png'), 'Khoa', 'Cryptographer')
        +member(require('../../image/about/team/dungtran.png'), 'Dung', 'Programmer')
        +member(require('../../image/about/team/lamchau.png'), 'Lam', 'Programmer')
        +member(require('../../image/about/team/hung.png'), 'Hung', 'Programmer')
        +member(require('../../image/about/team/dungv.png'), 'Dung', 'Programmer')
        +member(require('../../image/about/team/duybao.png'), 'Bao', 'Programmer')
        +member(require('../../image/about/team/duc.png'), 'Duc', 'Programmer')
        +member(require('../../image/about/team/hieutran.png'), 'Hieu', 'Cryptographer')
        +member(require('../../image/about/team/khanhle.png'), 'Khanh', 'QC')
        +member(require('../../image/about/team/binh.png'), 'Binh', 'Product')
        +member(require('../../image/about/team/phuong.png'), 'Phuong', 'Product')
        +member(require('../../image/about/team/vuong.png'), 'Vuong', 'Product')
        +member(require('../../image/about/team/duongtien.png'), 'Tien', 'Product')
        +member(require('../../image/about/team/hoai.png'), 'Hoai', 'Product')
      .group#design
        +member(require('../../image/about/team/linh.png'), 'Linh', 'Designer')
        +member(require('../../image/about/team/an.png'), 'An', 'Designer')
      .group#community
        +member(require('../../image/about/team/henry.png'), 'Henry', 'Community')
        +member(require('../../image/about/team/thang.png'), 'Peter', 'Community')
        +member(require('../../image/about/team/annie.png'), 'Annie', 'Community')
        +member(require('../../image/about/team/andrey.png'), 'Andrey', 'Community')
      .group#communications
        +member(require('../../image/about/team/ning.png'), 'Ning', 'Communications')

  .info.container.visible-effect
    h3.label JOIN INCOGNITO
    p.desc We’re looking for deeply technical people as well as switched-on generalists. If you’re interested in what we’re building, email us at 
      a(href='mailto:go@incognito.org') go@incognito.org.