#position-container
    div
        span#position_ahead
        |  validators ahead of you
    div
        span#position_behind
        |  validators behind you
    div
        |ETA: 
        span#eta_day
        |  days 
        span#eta_hour
        |  hours 