#validator-details-container
    .logo
    h1.title We can’t wait to welcome you on board.
    include ./position.pug
    div We’ll send you 1750 PRV to begin staking and notify you via telegram when it’s your turn.