#footer.container
  a(href='/')
    img.header-logo(src=require('../image/logo.svg'))
  .group
    //- a(href='/about.html').menu-item About
    a(href='https://github.com/constant-money/constant-chain', target='blank').menu-item Code
    a(href='https://docs.google.com/document/d/1K0XVG69o6hmtDQzqEzUTYZpb2Vwn42msz5xp3GUO7VA/edit#', target='blank').menu-item Paper
    a(href='https://t.me/incognitochain', target='blank').menu-item Telegram
    a(href='mailto: go@incognito.org').menu-item Contact