mixin menu-left() 
  //- a(href='/').menu-item Wallet
  //- a(href='/mine.html').menu-item Mine

mixin sidebar-menu
  a(href='/deck.pdf', target='blank').menu-item Deck (PDF)
  a(href='/whitepaper.pdf', target='blank').menu-item Whitepaper (PDF)
  a(href='https://github.com/incognitochain?tab=repositories', target='blank').menu-item Code
  a(href='/about.html').menu-item About us
  a(href='https://t.me/incognitochain', target='blank').menu-item Telegram
  hr(size='1', width='100%')
  a(href='/').menu-item Sidechain
  a(href='/node.html').menu-item Node
  a(href='/wallet.html').menu-item Wallet
  hr(size='1', width='100%')
  a(href='mailto: go@incognito.org').menu-item Contact Us
  a(href='/privacy.html').menu-item Privacy & Terms
  



nav#header
  .mobile-sidebar
    .hamburger-btn
    .sidebar
      .overlay
      .content
        .head
          .close
            img(src=require('../../image/icon/close.svg'), alt='close icon')
        +menu-left
        +sidebar-menu
  //- .group.left
  //-   +menu-left
  a(href='/').logo
  .desktop-menu.group.right
    a(href='/').menu-item SIDECHAIN
    a(href='/node.html').menu-item NODE
    a(href='/wallet.html').menu-item WALLET
    a(href='/referral.html').menu-item REFER & EARN
    