mixin menu-left() 
  //- a(href='/').menu-item Wallet
  //- a(href='/mine.html').menu-item Mine

mixin sidebar-menu
  a(href='/').menu-item Why should I get Node?
  a(href='/checkout-node.html').menu-item Features
  a(href='/specs.html').menu-item Specs
  a(href='/referral.html').menu-item Refer & Earn
  



nav#header
  a(href='/').logo
  .desktop-menu.group.right
    a(href='/').menu-item Why should I get Node?
    a(href='/checkout-node.html').menu-item Features
    a(href='/specs.html').menu-item Specs
    a(href='/referral.html').menu-item Refer & Earn
  .mobile-sidebar
    .hamburger-btn
    .sidebar
      .overlay
      .content
        .head
          .close
            img(src=require('../../image/icon/close.svg'), alt='close icon')
        +menu-left
        +sidebar-menu