mixin menu-left() 
  //- a(href='/').menu-item Wallet
  //- a(href='/mine.html').menu-item Mine

mixin sidebar-menu
  .sidebar-menu
    a(href='/').menu-item.mobile Power
    a(href='/c/wallet.html').menu-item.mobile Use
    a(href='/c/wallet/trade.html').menu-item.mobile Trade
    a(href='/c/wallet/invent.html').menu-item.mobile Create
    //- a(href='/free-software.html').menu-item Open Source
    //- a(href='/self-funded.html').menu-item Bootstrapped
    a(href='/blog' target='_blank').menu-item.mobile Blog
    //- a(href='/referral.html').menu-item.mobile Refer & Earn $50

    hr(size='1' width='100%').mobile

    a(href='/c/research.html').menu-item.mobile Tech Overview
    a(href='/t/how-to-host-a-virtual-node/28.html').menu-item Host a Virtual Node
    a(href='https://github.com/incognitochain?tab=repositories' target='blank').menu-item Code
    //- a(href='/about.html').menu-item.mobile Our story
    hr(size='1' width='100%')
    a(href='/whitepaper.pdf' target='blank').menu-item Whitepaper (PDF)

    hr(size='1' width='100%')

    a(href='https://t.me/incognitochain' target='blank').menu-item Telegram
    a(href='mailto: go@incognito.org').menu-item Contact Us
    a(href='/privacy.html').menu-item Privacy & Terms
    a(href='/return.html').menu-item Return & Warranty




.header-container
  nav#header
    a(href='/').logo
    .desktop-menu
     
      a(href="/").menu-item Buy a Node
      a(href="https://mainnet.incognito.org/" target='_blank').menu-item Network
      a(href="https://github.com/incognitochain" target='_blank').menu-item Code
      a(href="https://apps.apple.com/us/app/incognito-crypto-wallet/id1475631606?ls=1" target='_blank').menu-item iOS
      a(href="https://play.google.com/store/apps/details?id=com.incognito.wallet&hl=en" target='_blank').menu-item Android
      //- a(href="/sign-up").menu-item.btn Sign Up
      //- a(href="/sign-in").menu-item.btn 
      //-   img(src=require('@image/icon/user.svg'), alt="")
      //-   | Log In
      //- a(href="/search").menu-item.icon
      //-   img(src=require('@image/icon/search.svg'), alt="")
    .mobile-sidebar
      .hamburger-btn
      .sidebar
        .overlay
        .content
          .head
            .close
              img(src=require('@image/icon/close.svg'), alt='close icon')
          +menu-left
          +sidebar-menu