mixin menu-left() 
  //- a(href='/').menu-item Wallet
  //- a(href='/mine.html').menu-item Mine

mixin sidebar-menu
  .sidebar-menu
    a(href='/node.html').menu-item.mobile Power
    a(href='/send-bitcoin-anonymously-01.html').menu-item.mobile Use
    a(href='/dex.html').menu-item.mobile Trade
    a(href='/create.html').menu-item.mobile Create
    a(href='/free-software.html').menu-item.mobile Open Source
    a(href='/self-funded.html').menu-item.mobile Bootstrapped
    a(href='/blog', target='_blank').menu-item.mobile Blog
    //- a(href='/referral.html').menu-item.mobile Refer & Earn $50

    hr(size='1', width='100%').mobile

    a(href='/tech.html').menu-item Tech Overview
    a(href='/validator.html').menu-item Host a Virtual Node
    a(href='https://github.com/incognitochain?tab=repositories', target='blank').menu-item Code
    a(href='/about.html').menu-item Our story

    hr(size='1', width='100%')

    a(href='/deck.pdf', target='blank').menu-item Deck (PDF)
    a(href='/whitepaper.pdf', target='blank').menu-item Whitepaper (PDF)
    
    hr(size='1', width='100%')
    
    a(href='https://t.me/incognitochain', target='blank').menu-item Telegram
    a(href='mailto: go@incognito.org').menu-item Contact Us
    a(href='/privacy.html').menu-item Privacy & Terms
    a(href='/return.html').menu-item Return & Warranty
  



.header-container
  #message-bar.black-friday
    span.badge Hurry
    span BLACK FRIDAY SALE
    span.price Node 
      span.original-price $399
      span &nbsp;&nbsp;&nbsp;
      span.sale-price $299
    a(href='/payment.html').cart Shop now
  nav#header
    a(href='/').logo
    .desktop-menu.group
      .main
        a(href='/node.html').menu-item POWER
        a(href='/send-bitcoin-anonymously-01.html').menu-item USE
        a(href='/dex.html').menu-item TRADE
        a(href='/create.html').menu-item CREATE
        a(href='https://mainnet.incognito.org', target='_blank').menu-item EXPLORE
      .right
        a(href='/free-software.html').menu-item OPEN SOURCE
        a(href='/self-funded.html').menu-item BOOTSTRAPPED
        a(href='/tech.html').menu-item TECH
        a(href='/blog', target='_blank').menu-item BLOG
        a(href='/about.html').menu-item OUR STORY
      //- a(href='https://t.me/incognitochain', target='blank').menu-item.telegram-btn
      //-   img(src=require('../../image/icon/telegram_icon_round.svg'), alt='telegram-icon')
      //-   | Join our Telegram
    .mobile-sidebar
      .hamburger-btn
      .sidebar
        .overlay
        .content
          .head
            .close
              img(src=require('../../image/icon/close.svg'), alt='close icon')
          +menu-left
          +sidebar-menu