nav#header.container
  .group.left
    a(href='/') Wallet
    a(href='https://github.com/constant-money/constant-chain/blob/master/README.md', target='blank') Mine
  a(href='/')
    h1.header-logo Incognito
  .group.right
    a(href='https://docs.google.com/document/d/1K0XVG69o6hmtDQzqEzUTYZpb2Vwn42msz5xp3GUO7VA/edit#', target='blank') Paper
    a(href='https://github.com/constant-money/constant-chain', target='blank') Code
    a(href='/about.html') About