mixin menu-left() 
  a(href='/').menu-item Wallet
  a(href='/mine.html').menu-item Mine

mixin menu-right
  a(href='https://docs.google.com/document/d/1K0XVG69o6hmtDQzqEzUTYZpb2Vwn42msz5xp3GUO7VA/edit#', target='blank').menu-item Paper
  a(href='https://github.com/constant-money/constant-chain', target='blank').menu-item Code
  a(href='/about.html').menu-item About

nav#header.container
  .mobile-sidebar
    .hamburger-btn
    .sidebar
      .overlay
      .content
        a(href='/')
          img.header-logo(src=require('../../image/logo.svg'))
        +menu-left
        +menu-right
  //- .group.left
  //-   +menu-left
  a(href='/')
    img.header-logo(src=require('../../image/logo.svg'))
  .group.right
    +menu-left
    +menu-right
    