mixin menu-left() 
  //- a(href='/').menu-item Wallet
  //- a(href='/mine.html').menu-item Mine

mixin menu-right
  a(href='/specs.html').menu-item Tech Specs
  a(href='https://t.me/theminerco', target='blank').menu-item Join the conversation
  a(href='mailto: hello@theminer.co').menu-item Contact Us
  a(href='/privacy.html').menu-item Privacy & Terms

nav#header
  .mobile-sidebar
    .hamburger-btn
      img(src=require('../../image/icon/hamburger.svg'), alt='hamburgur icon')
    .sidebar
      .overlay
      .content
        .head
          .close
            img(src=require('../../image/icon/close.svg'), alt='close icon')
        +menu-left
        +menu-right
  //- .group.left
  //-   +menu-left
  a(href='/').logo
    img(src=require('../../image/logo.svg'), alt='logo')
  .desktop-menu.group.right
    a(href='/').menu-item SIDECHAIN
    a(href='/miner.html').menu-item NODE
    a(href='/wallet.html').menu-item WALLET
  //-   +menu-left
    