mixin menu-left() 
  //- a(href='/').menu-item Wallet
  //- a(href='/mine.html').menu-item Mine

mixin menu-right
  a(href='/whitepaper.pdf', target='blank').menu-item Build on cool science
  a(href='https://github.com/constant-money/constant-chain', target='blank').menu-item Review the code
  a(href='https://t.me/incognitochain', target='blank').menu-item Join the conversation
  a(href='mailto: go@incognito.org').menu-item Contact Us

nav#header
  .mobile-sidebar
    .hamburger-btn
      img(src=require('../../image/icon/hamburger.svg'))
    .sidebar
      .overlay
      .content
        .head
          .close
            img(src=require('../../image/icon/close.svg'))
        +menu-left
        +menu-right
  //- .group.left
  //-   +menu-left
  a(href='/').logo
    img(src=require('../../image/logo.svg'))
  //- .group.right
  //-   +menu-left
  //-   +menu-right