mixin menu-left() 
  //- a(href='/').menu-item Wallet
  //- a(href='/mine.html').menu-item Mine

mixin sidebar-menu
  a(href='/sidechain.html').menu-item Tech Overview
  a(href='/validator.html').menu-item Host a Virtual Node
  a(href='https://github.com/incognitochain?tab=repositories', target='blank').menu-item Code
  a(href='/about.html').menu-item About us

  hr(size='1', width='100%')

  a(href='/deck.pdf', target='blank').menu-item Deck (PDF)
  a(href='/whitepaper.pdf', target='blank').menu-item Whitepaper (PDF)
  
  hr(size='1', width='100%')
  
  a(href='https://t.me/incognitochain', target='blank').menu-item Telegram
  a(href='mailto: go@incognito.org').menu-item Contact Us
  a(href='/privacy.html').menu-item Privacy & Terms
  



nav#header
  a(href='/').logo

  .desktop-menu.group
    a(href='/').menu-item POWER
    a(href='/wallet.html').menu-item USE
    .right
      a(href='/referral.html').menu-item REFER & EARN
    //- a(href='https://t.me/incognitochain', target='blank').menu-item.telegram-btn
    //-   img(src=require('../../image/icon/telegram_icon_round.svg'), alt='telegram-icon')
    //-   | Join our Telegram
  .mobile-sidebar
    .hamburger-btn
    .sidebar
      .overlay
      .content
        .head
          .close
            img(src=require('../../image/icon/close.svg'), alt='close icon')
        +menu-left
        +sidebar-menu