doctype html  
html(lang='en')  
 head
    title Incognito
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
 body
   include intro.pug
   include readmore.pug
   include question.pug
   include message_box.pug