mixin list(tailDesc)
  li
    block
    | 
    span= tailDesc

div#intro-container.container.fadeInLeftBig-ani
  div.image
    img(src=require('../image/coolphone.webp'))
  div.intro
    h1.title Incognito
    p.sub-title 
      | Send and receive 
      span.crypto-name Bitcoin
      |
      |privately. <br/>
      |Your privacy, made simple.

    form(onsubmit='return false;').email-subscribe
      input(placeholder='Enter your email', required, type='email', pattern='[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{2,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})')#email-input
      button(type='submit').submit-email Get early access

    ul
      +list('your own privacy token')
        a.list-url(href='#', target='blank') Issue
      +list('Privacy token')
        a.list-url(href='#', target='blank') Buy
      +list('and earn Privacy token')
        a.list-url(href='#', target='blank') Mine
      +list('with the Incognito blockchain')
        a.list-url(href='#', target='blank') Partner
      +list('the whitepaper & open-source code')
        a.list-url(href='#', target='blank') Read
