div#intro-container.container
  div.image
    img(src=require('../image/coolphone.png'))
  div.intro
    h1.title Incognito
    p.sub-title 
      | Send and receive 
      span.crypto-name Bitcoin
      |
      |privately. <br/>
      |Switch to incognito mode.

    .email-subscribe
      input(placeholder='Enter your email')#email-input
      button.submit-email Count me in

    ul
      li Issue your own incognito coin
      li Buy native Privacy coin
      li Mine and earn Privacy coin
      li Read the whitepaper & open-source code
