doctype html  
html(lang='en')  
 head
    block title
    link(rel="icon", type="image/ico", href="/favicon.ico")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(property="og:title" content="Incognito: Privately send Bitcoin, Ethereum, and more.")
    meta(property="og:description" content="Incognito is a privacy blockchain that lets you store, send and receive crypto assets like Bitcoin, Ethereum, USDC - with total privacy.")
    meta(property="og:image" content="/seo_image.png")
 body(style='opacity: 0').fadeIn-ani
   block main
   //- include footer.pug
   include message_box.pug
   
   block bodyscript