doctype html  
html(lang='en')  
 head
    block title
    link(rel="icon", type="image/ico", href="/favicon.png")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block meta
    //- - const amazonSdkUrl = self.htmlWebpackPlugin.options.env.AMAZON_SDK_URL;
    //- - const amazonClientId = self.htmlWebpackPlugin.options.env.AMAZON_CLIENT_ID;
    //- script.
    //-   window.onAmazonLoginReady = function() {
    //-   amazon.Login.setClientId("#{amazonClientId}");
    //-   };
    //- script(src=amazonSdkUrl)
    block script
 body(style='opacity: 0').fadeIn-ani
   block main
   //- include footer.pug
   include message_box.pug
   
   block bodyscript