doctype html  
html(lang='en')  
 head
    block title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(property="og:title" content="Build real privacy for our internet.")
    meta(property="og:description" content="Earn Incognito’s native coin Privacy (PRV), for each friend that signs up. Oh, and get Node, the sleekest mining hardware in the world.")
    meta(property="og:image" content="/seo_image.svg")
 body(style='opacity: 0').fadeIn-ani
   include header.pug
   div#content
      block content
   //- include footer.pug
   include message_box.pug
   
   block bodyscript