mixin section(title, desc, url)
  h3= title
  p= desc
  a(href=url target='blank') Learn more

+section(
  'Issue your own privacy coin in minutes',
  'Run a private ICO, mint anonymous money, create private company shares. Design just about any kind of private asset or financial instrument — in just a couple of minutes.',
  'http://localhost.com'
)

+section(
  'Issue your own privacy coin in minutes',
  'Run a private ICO, mint anonymous money, create private company shares. Design just about any kind of private asset or financial instrument — in just a couple of minutes.',
  'http://localhost.com'
)

+section(
  'Be a miner and earn coins',
  'Incognito is a privacy blockchain. Help build the first private browser for the decentralized web.',
  'http://localhost.com'
)
