#amazon-express-checkout-container.payment-page.hidden
    #amazon-express-checkout-address-book-container
    #amazon-express-checkout-payment-container
    #submit-button-container.button-wrapper
        button(disabled) Pay
