//mixin coin_name(coin)
//    case coin
//        when 'PRV'
//            | Privacy (PRV)
//        when 'BTC'
//            | Bitcoin (BTC)
//        when 'ETH'
//            | Ethereum (ETH)
//        when 'BNB'
//            | Binance (BNB)
//        when 'USDT'
//            | Tether (USDT) - ERC20
//        when 'USDC'
//            | USD Coin (USDC)
//        when 'TUSD'
//            | TrueUSD (TUSD)
//        when 'PAX'
//            | Paxos Standard (PAX)
//        when 'GUSD'
//            | Gemini Dollar (GUSD)
//        when 'USDS'
//            | Stably (USDS)
//        when 'BUSD'
//            | Binance USD (BUSD)

mixin coin_name(coin)
    case coin
        when 'USDT'
            | Tether (USDT) - ERC20
        when 'USDC'
            | USD Coin (USDC) - ERC20
        when 'DAI'
            | DAI - ERC20