extends ../layout.pug

block main
    include ../header.pug
    - var price = '$199.00'
    - var quantity = 1
    div#content
        div#payment
            div.left-content
                include ./information
            div.right-content
                include ./order











