extends ../layout.pug

block main
    include ../header.pug
    div#content
        div#payment
            div.left-content
                .wrapper
                    include ./information
                    include ./payment
                    include ./thank_you
            div.right-content
                .wrapper
                    include ./order
            include ./loading
    include ../common/video_popup
    +video_popup(false)











