extends ../layout.pug

block main
    include ../header.pug
    div#content
        div#payment
            div.left-content
                .wrapper
                    include ./order_information
                    include ./payment
                    include ./crypto_thank_you
                    include ./zelle_thank_you
            div.right-content
                .wrapper
                    include ./cart
    include ../common/video_popup
    +video_popup(false)











