extends ../layout.pug

block meta
    script(src=`https://www.paypal.com/sdk/js?client-id=${paypalClientId.PAYPAL_CLIENT_ID}&intent=authorize&commit=false&disable-funding=credit,sepa`)

block main
    include ../header.pug
    div#content
        div#payment
            div.left-content
                .wrapper
                    include ./information
                    include ./payment
                    include ./thank_you
            div.right-content
                .wrapper
                    include ./order
            include ./loading











