extends ../layout.pug

block script
    - const amazonSdkUrl = self.htmlWebpackPlugin.options.env.AMAZON_SDK_URL;
    script(src=amazonSdkUrl)

block main
    include ../header.pug
    div#content
        div#payment
            div.left-content
                .wrapper
                    include ./order_information
                    include ./payment
                    include ./crypto_thank_you
                    include ./zelle_thank_you
            div.right-content
                .wrapper
                    include ./cart
            include ./loading
    include ../common/video_popup
    +video_popup(false)











