#thank-you-container.hidden
    h1.title Please make a transfer to complete your purchase.
    div.description This price is reserved for the next 30 minutes. Please send 
        span.coin-price 
        |  
        span.coin-name
        |  to the wallet address below.
    .copy-container
        div.tap-to-copy Tap to copy
        div.script.copiable(data-copy-value='')#wallet-address
    .divide-line 
        .text OR
    .qr-code
        div Scan QR Code
        img(src='').icon.hidden
    div.description We'll send you an order confirmation within 24 hours of receiving your cryptocurrency payment.