#thank-you-container.hidden
    h1.title Thank you for your order
    img(src='').icon.hidden
    div.script.copiable(data-copy-value='')#wallet-address
    div Please send 
        span.coin-price 
        |  
        span.coin-name
        |  to the wallet address above