#thank-you-container.hidden
    h1.title Thank you for your order
    p.script.copiable(data-copy-value='')#wallet-address
    p Please send 
        span.coin-price 
        |  
        span.coin-name
        |  to the wallet address above