#zelle-thank-you-container.payment-page.hidden
    h1.title Please make a transfer to complete your purchase.
    .description 
        p Pay with Zelle
        |Zelle is the quickest way to pay for your Node. Simply make a transfer to the Incognito Zelle account.
    .description Order number: 
        span.order-number
        br
        |Amount: 
        span.total-price
        br
        |Send to: 
        span.zelle-email payment@incognito.org
    .description.note
        h2.note Please note:
        |When making a Zelle transfer, please include your order number 
        span.order-number.underline-text
        |  in the Notes section.