#zelle-thank-you-container.hidden
    h1.title Please make a transfer to complete your purchase.
    .description 
        h1 Pay with Zelle
        br
        |Zelle is the quickest way to pay for your Node. Simply make a transfer to the Incognito Zelle account.
    .description Amount: 
        span.total-price
        br
        |Send to: 
        span.zelle-email payment@incognito.org
    .description 
        h2 Please note:
        |When making your Zelle transfer, please include a Note containing the email address you just entered in the Contact Information section.