extends ../layout.pug

block title
   title How to become an Incognito Miner
   
block main
   include ../telegram_chat.pug
   #become-validator-container
      include ../header.pug
      div#content
         include intro.pug
         include steps.pug
   