.intro-container
  .container
    .info
      h1.title
        span Become an Incognito Miner
      .descs
        p.desc There are two ways to mine: (1) mine with 
          | 
          a(href='https://incognito.org/specs.html', target='blank') Node
          |, Incognito’s own mining hardware, or (2) mine on your own computer – as described below.
        br
        p.desc Question? Reach us on
          | 
          a(href='https://t.me/incognitochain', target='blank') Telegram
          | 
          | or email 
          | 
          a(href='mailto:go@incognito.org') go@incognito.org.

    .image
      img(src=require('../../image/become_validator/intro.png'), alt='become-validator-img')