.intro-container
  //- include ../common/node_tab.pug
  //- +node_tab(2)
  .container
    .info
      h1.title
        span Become an Incognito Validator
      .descs
        p.desc Want to help build the privacy layer of the decentralized web and earn rewards? Validators are essential to the security and robustness of the Incognito chain.
        p.desc You can run a virtual node on your computer, or on a cloud instance such as AWS. Just follow the instructions below. Block rewards are paid out in PRV and transacted currencies, such as pBTC, pETH, pBNB and more.
        br
        p.desc Questions? Reach us on
          | 
          a(href='https://t.me/incognitochain', target='blank') Telegram
          | 
          | or email us at
          | 
          a(href='mailto:go@incognito.org') go@incognito.org.

    .image
      img(src=require('../../image/become_validator/intro.png'), alt='become-validator-img')