- var slideImages = [
    '../../image/sidechain/home_slider_1.jpg',
    '../../image/sidechain/home_slider_2.jpg',
    '../../image/sidechain/home_slider_3.jpg',
    '../../image/sidechain/home_slider_4.jpg',
    '../../image/sidechain/home_slider_5.jpg'
]

- var images = []
- for (image in slideImages)
    - images.add({
        img: image,
        position: 'center center'
    })