extends ../layout.pug


block title
   title The plug & play Incognito Node
   
block main
   include ../header.pug
   div#home1-container
      div.intro-slider-container
         .image
            .desktop
               i-slider(images=[
                  {
                     img: 'https://www.youtube.com/embed/bafTu0kGfq4',
                     thumbnail: 'https://img.youtube.com/vi/bafTu0kGfq4/hqdefault.jpg',
                     type: 'youtube',
                     position: 'bottom center',
                  },
                  {
                     img: 'https://www.youtube.com/embed/eXNAD4wckQI',
                     thumbnail: 'https://img.youtube.com/vi/eXNAD4wckQI/hqdefault.jpg',
                     type: 'youtube',
                     position: 'bottom center',
                  },
                  {
                     img: require('../../image/home1/home_slider_1.jpg'),
                     position: 'bottom center',
                  },
                  {
                     img: require('../../image/home1/home_slider_2.jpg'),
                     position: 'bottom center',
                  },
                  {
                     img: require('../../image/home1/home_slider_4.jpg'),
                     position: 'bottom center',
                  },
                  {
                     img: require('../../image/home1/home_slider_3.jpg'),
                     position: 'bottom center',
                  },
                  {
                     img: require('../../image/home1/home_slider_5.jpg'),
                     position: 'bottom center',
                  },
                  {
                     img: require('../../image/home1/home_slider_6.jpg'),
                     position: 'bottom center',
                  }
               ],
               aspect_ratio=1260/1740*100)
            img(src=require('../../image/home1/home_background_mobile.png')).mobile

            .links
               span.link(data-video-url='https://www.youtube.com/embed/bafTu0kGfq4', type='intro')
                  img(src=require('../../image/icon/play.svg')).icon
         .right-content
            include intro.pug
      include section.pug
      //- include question.pug
      include ../telegram_chat.pug
   include ../common/video_popup.pug
   //- include ../footer.pug