extends ../layout.pug
mixin block(name, headerTxt, title, desc)
   div.block(class= name)
      h2.headerText= headerTxt
      .info
         h1.title= title
         p.desc= desc
         block


block title
   title Incognito mode for your crypto
   



block main
   #home1-container
      include ../header.pug
      #content.bounceInUp-ani
         .blocks-container
            +block('app-block', 'Incognito mode', 'Use', 'Send, receive and store crypto privately.')
               .links
                  a.link(href='https://apps.apple.com/us/app/incognito-crypto-wallet/id1475631606?ls=1', target='blank')
                     span iOS
                  a.link(href='https://play.google.com/store/apps/details?id=com.incognito.wallet', target='blank')
                     span Android
            +block('node-block', 'for your cryto', 'Power', 'Earn crypto for giving others privacy.')
               .links
                  span.link(data-video-url='https://www.youtube.com/embed/LZjI4RsVwF8') Watch Node intro
                  span.link(data-video-url='https://www.youtube.com/embed/Je9Eykmf3Lc') Unbox Node

         .subscribe-container 
            div
               .info
                  span The first Nodes will be half price. Be the first.
                  span Node will go live in
                     | 
                     .countdown.visible-effect
                        .countdown-container
                           .days.group
                              span.data 00
                              span.label
                                 | 
                                 | days
                           .hours.group
                              span.data 00
                              span.label :
                           .mins.group
                              span.data 00
                              span.label :
                           .seconds.group
                              span.data 00
               .subscribe-email
                  include ../common/subscribe_form.pug
                  +subscribe_email('Half off, please')