extends ../layout.pug


block title
   title The plug & play Incognito Node
   
block main
   include ../header.pug
   div#home1-container
      div.intro-slider-container
         .image
            .desktop
               i-slider(images=[
                  {
                     img: require('../../image/home1/home_slider_10.png'),
                     position: 'bottom center',
                  },
                  {
                     img: require('../../image/home1/home_slider_10.png'),
                     position: 'bottom center',
                  },
                  {
                     img: require('../../image/home1/home_slider_10.png'),
                     position: 'bottom center',
                  },
                  {
                     img: require('../../image/home1/home_slider_10.png'),
                     position: 'bottom center',
                  },
               ])
            img(src=require('../../image/home1/home_background_mobile.png')).mobile

            //- .links
            //-    span.link(data-video-url='https://www.youtube.com/embed/bafTu0kGfq4', type='intro')
            //-       img(src=require('../../image/youtube_play_icon.svg')).icon
         .right-content
            include intro.pug
      include section.pug
      //- include question.pug
      include ../telegram_chat.pug
   include ../common/video_popup.pug