extends ../layout.pug


block title
   title The plug & play Incognito Node
   
block main
   include ../header.pug
   div#home1-container
      div.intro-slider-container
         .image
            i-slider(images=[{
                  img: require('../../image/home1/node_bg.png'),
                  position: 'bottom center',
               }
            ])
            img(src=require('../../image/home1/node_bg.jpg')).mobile
         .right-content
            include intro.pug
      //- include section.pug
      //- include question.pug
      include ../telegram_chat.pug