div#intro-container
  .content
    div.intro
      div
        h1.heading INCOGNITO NODE
        h1.title  Own a Node and earn crypto. Create a new internet that cares about your privacy.

      .price-info
        .price
          span.end-price $199
          span.origin-price $400

        div.rocket
          img(src=require('../../image/home1/rocket.svg'))
          span Early Adopter Special

      .cta
        .subscribe-email
          span The first Nodes will be half price. Be at the forefront of this revolution.
          div
            include ../common/subscribe_form.pug
            +subscribe_email('50% off, please')
        .total-subcriber
          span(role='counter') 1000+
          | 
          span early birds already on the list.

        .custom-countdown
          span Node will launch in
          .countdown.visible-effect
            .countdown-container
              .days.group
                span.data 00
                span.label
                    | 
                    | days
              .hours.group
                span.data 00
                span.label :
              .mins.group
                span.data 00
                span.label :
              .seconds.group
                span.data 00

     
      ul.list-info
        li A plug and play device that powers the Incognito network.
        li Earn crypto every time someone makes a private transaction.  Collect BTC, ETH, BNB, and a very special coin, called PRV.
        li Own a share of the crypto economy.
        li Energy-efficient, just 8 cents to run all day.
        li Ships worldwide.
        li 1-year warranty.
