mixin benefit(img, label, desc)
  .benefit
    div.icon
      img(src= img)
    span.label= label
    span.desc= desc

div#intro-container
  .content
    div.intro
      div
        h1.heading INCOGNITO NODE
        h1.title  Earn crypto in your sleep.
          |
          span.extra  Power a new internet that cares about your privacy.

      include ../common/price_info.pug

      .cta
        .subscribe-email
          div
            include ../common/subscribe_form.pug
            +subscribe_email('GET 50% OFF')
        .total-subcriber
          span.label Limited quantity.
          | 
          span(role='counter') 1000+
          | 
          span.signed-up-text  signed up. 

      .benefit-group
        +benefit(require('../../image/icon/fix.svg'), '1-year warranty', 'If something goes wrong we’ll fix it. Easy.')
        +benefit(require('../../image/icon/30day_icon.svg'), '30-day trial', 'If you don’t love your Node, return it for a full refund.')
        +benefit(require('../../image/icon/international-shipping.gif'), 'Ships worldwide', 'Node is designed for everyone, and by everyone.')

     
      ul.list-info
        li Meet Node, a little helpful gadget that earns Bitcoin, Ethereum, Binance and more for processing crypto transactions confidentially.
        li Node also earns a very special coin, called Privacy.
        li Enjoy automatic earning of passive crypto income.
        li Effortless setup, just plug and play.
        li Energy efficient, just 1kWh (about 8 cents) to run all day.
        li Designed to power the incognito mode for the token economy.
