#intro-container
  h1.title
    .highlight Incognito mode 
    | 
    | for the token economy.
  
  p.sub-title Thousands of tokens already circle the globe, representing dollars, gold, properties, and commodities. Thousands more are arriving. It takes just one transaction ID to uncover how much you have, what you do with your tokens, where they come from, and who you send them to. So we built incognito mode for your money, a choice to claim your right to privacy.