mixin benefit(img, label, desc, imgClass='')
  .benefit
    div(class='icon ' + imgClass)
      img(src= img)
    .content
      span.label= label
      span.desc= desc

div#intro-container
  .content
    div.intro
      div
        h1.heading Incognito Node
        .description Earn crypto in your sleep. 
          | <span class="highlight">Collect $25 monthly</span> in BTC, ETH, BNB and today’s most exciting cryptocurrencies. 
          span.extra Built by a bunch of geeks who shipped $100M+ of connected hardware worldwide.

      .subscribe-price-container
        include ../common/price_info.pug
        include ../common/subscribe_email_component.pug      

      .benefit-container
        .benefit-group
          +benefit(require('../../image/icon/worldwide.svg'), 'Ships worldwide', 'Anyone, anywhere, can own a Node.')
          +benefit(require('../../image/icon/warranty.svg'), '1-year warranty', 'If something goes wrong we’ll fix it. Easy.')
          +benefit(require('../../image/icon/trial.svg'), '30-day trial', 'If you don’t love your Node, return it for a full refund.')
      .video-link
          span.link(data-video-url='https://www.youtube.com/embed/eXNAD4wckQI', type='unbox') Watch Chris unbox Node in the Incognito office
    //- .question#faq
    //-   include ./question.pug
//- .scroll-down.scroll-down-animation.scroll-action-btn(data-scroll-to='#faq') 