mixin benefit(img, label, desc, imgClass='')
  .benefit
    div(class='icon ' + imgClass)
      img(src= img)
    .content
      span.label= label
      span.desc= desc

div#intro-container
  .content
    div.intro
      #intro-heading
        //- include ../common/node_tab.pug
        //- +node_tab(1)
        //h1.heading Power privacy. Earn crypto.
        //.description Earn PRV, for processing confidential crypto transactions for the world.
          //- span.see-how.scroll-action-btn(data-scroll-to='.video-link') See how
          //- span.earning-tooltip.hint
        //- .description.extra Built by a bunch of geeks who shipped $100M+ of connected hardware worldwide.

      .subscribe-price-container
        h1.content-heading pNode 2022
        h3.content-description Privacy is a fundamental human right. Even more so for crypto users. Which is why we build Incognito to protect it.
        .box-buy
          include ../common/price_info.pug
          include ../common/subscribe_email_component.pug
        ul.preview
          li.item Protect people from the dangers of surveillance.
          li.item Give everyone a way to use crypto privately.
          li.item Own a share of the Incognito network.
          li.item Earn block rewards in PRV.
      //include ./benefit.pug
      //include ./slider.pug
      .video-link
          span.link(data-video-url='https://www.youtube.com/embed/eXNAD4wckQI', type='unbox') Watch Chris unbox Node in the Incognito office
    //- .question#faq
    //-   include ./question.pug
//- .scroll-down.scroll-down-animation.scroll-action-btn(data-scroll-to='#faq') 