mixin benefit(img, label, desc, imgClass='')
  .benefit
    div(class='icon ' + imgClass)
      img(src= img)
    .content
      span.label= label
      span.desc= desc

div#intro-container
  .content
    div.intro
      #intro-heading
        //- include ../common/node_tab.pug
        //- +node_tab(1)
        //h1.heading Power privacy. Earn crypto.
        //.description Earn PRV, for processing confidential crypto transactions for the world.
          //- span.see-how.scroll-action-btn(data-scroll-to='.video-link') See how
          //- span.earning-tooltip.hint
        //- .description.extra Built by a bunch of geeks who shipped $100M+ of connected hardware worldwide.

      .subscribe-price-container
        h1.content-heading Incognito Node
        h3.content-description Node is the simplest way to power the Incognito network and earn crypto. Just plug it in to get started.
        .box-buy
          .rocket
            .info.offer-wrapper
              img(src=require('../../image/icon/shipping.svg')).icon
            span.shipppingTime Ships within 24 hours
          .buy-link
            include ../common/price_info.pug
            include ../common/subscribe_email_component.pug
        p.span-own-node As a Node owner, you:
        ul.preview
          //li.item Protect people from the dangers of surveillance.
          li.item Give everyone a way to use crypto privately.
          li.item Own a share of the Incognito network.
          li.item Earn block rewards in PRV.
      //include ./benefit.pug
      //include ./slider.pug
      .video-link
          span.link(data-video-url='https://www.youtube.com/embed/eXNAD4wckQI', type='unbox') Watch Chris unbox Node in the Incognito office
    //- .question#faq
    //-   include ./question.pug
//- .scroll-down.scroll-down-animation.scroll-action-btn(data-scroll-to='#faq') 