#press-container
    .divide
        span.title Node is featured on
    .press-group
        .press-logo.desktop
            img(src=require('../../image/press/desktop.svg'))
        .press-logo.mobile
            img(src=require('../../image/press/mobile.svg'))
    .divide