#press-container
    .divide
        span.title Node is featured on
    .press-group
        .press-logo
            img(src=require('../../image/press/the_block.svg'))
        .press-logo
            img(src=require('../../image/press/market_watch.svg'))
        .press-logo
            img(src=require('../../image/press/yahoo.svg'))
    .divide