#press-container
    .divide
        span.title Node is featured on
    .press-group
        .press-logo
            a(href='https://www.theblockcrypto.com/post/42385/incognito-is-building-a-sidechain-to-bring-privacy-to-cryptocurrencies', target='_blank')
                img(src=require('../../image/press/the_block.svg'))
        .press-logo
            a(href='https://www.marketwatch.com/press-release/incognito-releases-the-first-hand-sized-crypto-mining-device-2019-09-27', target='_blank')
                img(src=require('../../image/press/market_watch.svg'))
        .press-logo
            a(href='https://finance.yahoo.com/news/incognito-release-home-gadget-helps-090000589.html', target='_blank')
                img(src=require('../../image/press/yahoo.svg'))
    .divide