#section-container
    .section.container
        .benefit-container
            .benefit-group
                +benefit(require('../../image/icon/income.svg'), 'Earn passive income', 'Automatically collect crypto every second of every day')
                +benefit(require('../../image/icon/energy-saving.svg'), 'Energy efficient', 'Just 1 kWh (about 8 cents a day) to run all day')
                +benefit(require('../../image/icon/effortless.svg'), 'Effortless', 'Just plug Node in and let it work for you.', 'easy')

            .benefit-group
                +benefit(require('../../image/icon/warranty.svg'), '1-year warranty', 'If something goes wrong we’ll fix it. Easy.')
                +benefit(require('../../image/icon/trail.svg'), '30-day trial', 'If you don’t love your Node, return it for a full refund.')
                +benefit(require('../../image/icon/worldwide.svg'), 'Ships worldwide', 'Anyone, anywhere, can own a Node.')