extends /layout.pug

block title
   title Add privacy to your crypto payroll.

block meta
   meta(property="og:image" content="/Payroll.png")
   - var descriptionContent = `Send completely confidential payments to your globally distributed team. Obscure all balances and transaction details with a single tap.`;
   meta(name='description' content=descriptionContent)
   meta(name='og:description' content=descriptionContent)
   meta(name='twitter:description' content=descriptionContent)

   link(href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet")
   script(src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript")
   
block main
   include /header.pug
   #payroll-container
      include /payroll/intro.pug
      include /payroll/section.pug

