extends ../layout.pug

block title
   title Mine
   
block content
   #mine-container
      include intro.pug
      include model_viewer.pug
      include question.pug

block bodyscript
   script(src='lib/three.min.js')
   script(src='lib/GLTFLoader.js')
   