#mine-intro.container.bounceInUp-ani
  div.intro
    h3.sub-title The Miner
    h1.title Plug in. Mine privacy.
    p.desc The Miner is the easiest way to earn a little passive income and help build a better, safer internet.
    
    include ../common/subscribe_form.pug
    
    p.desc Prefer to run The Miner software on your own computer? 
      a(href='https://github.com/constant-money/constant-chain/blob/master/README.md', target='blank') Here’s how.