extends ../layout.pug

block title
   title Subscribe Email
   
block main
   include ../header.pug
   div#subscribe-email-container
    h3.label Be the first to know 
    .subscribe-email
      include ../common/subscribe_form.pug