extends ../layout.pug

block title
   title Subscribe Email
   
block main
   include ../header.pug
   include ../telegram_chat.pug
   div#subscribe-email-container
    h3.label Hello. Enter your email to start sharing with friends
      br
      | and earning Incognito’s free products.
    .subscribe-email
      include ../common/subscribe_form.pug
      +subscribe_email('Start sharing')