extends ../layout.pug

block title
   title Launch and connect your AWS Instance
   
block main
   include ../telegram_chat.pug
   #become-validator-container
      include ../header.pug
      div#content
         include intro.pug
         include steps.pug
   