extends ../layout.pug

block meta
   meta(property="og:title" content="Incognito Node: Host a Node and earn crypto")
   meta(property="og:description" content="You can host a Node on your computer or simply plug in the super sleek, energy-efficient Node device, custom-built specifically for Incognito to start earning crypto for building the world’s first platform for privacy tokens")

block title
   title Host a Node. Earn crypto.
   
block main
   div#node-container
      .intro-slider-container
         .image
            i-slider(images=[{
                  img: require('../../image/node/home_slider_1.jpg'),
                  position: 'bottom left',
               }, {
                  img: require('../../image/node/home_slider_5.jpg'),
                  position: 'center bottom'
               }, {
                  img: require('../../image/node/home_slider_2.jpg'),
                  position: 'left center'
               }, {
                  img: require('../../image/node/home_slider_3.jpg'),
                  position: 'center'
               }, {
                  img: require('../../image/node/home_slider_4.jpg'),
                  position: 'center'
               }
            ])
            img(src=require('../../image/node/home_image_mobile.jpg'), alt='home image mobile').mobile
         .right-content
            include ../header.pug
            include intro.pug
      include section.pug
      include question.pug