include ../common/top_question.pug
  +question('What is the Incognito Node?', 'Node is a plug-and-play crypto generating device. Designed to power the Incognito network in a truly decentralized fashion, it validates confidential transactions and proposes new blocks. In return, it earns cryptocurrencies such as BTC and ETH. Node also earns Privacy, the native coin of Incognito.')
  +question('Do I have to stake Privacy in order to run Node?', 'No. If you have a Node, you don’t have to do anything else.  Simply plug it in and let it run.  Node is already pre-loaded with 1750 Privacy, the minimum stake required.  Hosting a Node is the easiest way to mine on the Incognito network.')
  +question('Why does Incognito build its own hardware?')
    span Incognito designs and builds its own staking hardware, because of the following reasons:
    ul
      li Broaden the validator base.  With more user-friendly software and more accessible hardware, less technical users can easily be validators.
      li Make it more affordable to become a validator.  Designed for the individual then produced en masse, Node saves on manufacturing and software maintenance costs. Affordability opens up access and leads to a greater degree of decentralization.
      li A better token distribution mechanism.  We want to build a thriving, engaged community.  Instead of a public token sale, the team will preload Privacy tokens in every Node, so users can start adding value to the network and seeing rewards right away.
      
  +question('How much electricity does it consume?', 'Node is very energy efficient.  At maximum capacity, it consumes ~1.5 kWh a day.  On average, it consumes less than ~1 kWh a day.  In the US, that’s about $0.08 a day.')
  +question('Why is Node so much more efficient than traditional mining?', 'Traditional mining relies on an energy-guzzling mechanism called Proof of Work (PoW).  Incognito implements Proof of Stake (PoS), a much more efficient system, used by the new generation of major blockchains.')
  +question('How much money can I make?', 'The money you make depends on a variety of factors: how often you run Node, how many private transactions are made on the blockchains you choose, and of course - the current and future prices of the currencies you earn as rewards.')
  +question('Can Node run other blockchains too?', 'Yes, with Node Pro.')
  +question('What is Node Pro?', 'Node Pro will support most Proof-of-Stake blockchains and Layer 2 networks. In addition to Incognito (Privacy), it will start with the most active:  Lightning Network (Bitcoin), Ethereum 2.0 (Ether), Harmony Network (One).')
  +question('When will Node ship?', 'Node will ship in September and Node Pro will ship in November, with priority for pre-orders.')
  +question('How can I get early bird pricing?', 'To be the first to know when early bird prices are live, please subscribe to the early bird special.')
  +question('What is the return policy?', 'If you don’t love Node, simply return it within 30 days for a full refund.  No questions asked.')
  +question('Which countries are Node available in?', 'Node ships worldwide and ships quickly through our international warehouse partners in North America.')
  +question('How long does it take to set up Node?', 'Plug it in. Connect to WiFi.  Let it run.  That’s it!')
  +question('How quiet is Node?', 'Node is extremely quiet, even when it operates at maximum capacity.  You can set up Node anywhere. On the kitchen counter, in your bedroom, or in the office.')
  +question('Is there a software version of Node that I can run on my computer?')
    span Yes. It’s free to download and simple to run - just a couple of command lines. Download Node
    |   
    a(href='https://docs.google.com/document/d/1bbA8PzpxbYKqPyTGvH2AsE-TARzPxRTuLMcVwdqGG2s/edit', target='blank') here.