#order-history-form-container
    h1 Order Status
    .input-wrapper
        .input-field
            input(type='email', name='email', placeholder='Enter your email')#email
        .input-field
            input(type='text', name='order-id', placeholder='Enter your order number')#order-id
        .button-wrapper
            button#submit-btn Check