#about-container {
  #what-we-build {
    padding-bottom: 100px;
    background-color: $white;
    text-align: center;

    @include breakpoint-down(md) {
      padding-bottom: 50px;
    };

    .info {
      padding-top: 100px;
      margin-left: auto;
      margin-right: auto;

      @include breakpoint-down(md) {
        padding-top: 50px;
      };

      h3.label {
        color: $black2;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 700;

        @include breakpoint-down(md) {
          font-size: 18px;
        };
      }
  
      p.desc {
        max-width: 700px;
        color: $black2;
        font-size: 24px;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint-down(md) {
          font-size: 20px;
        };

        a {
          color: $black;
          transition: color 300ms;
          &:hover {
            color: $grey2;
          }
        }
      }
    }
    .groups {
      display: flex;
      @include breakpoint-down(lg) {
        flex-direction: column;
      };
      .group {
        margin-top: 30px;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        align-items: center;
        text-decoration: none;
        img {
          width: 100px;
          margin-bottom: 10px;
        }
        .label {
          color: $green;
          font-size: 22px;
          margin: 10px 0px;
        }
        .desc {
          font-weight: 300;
          color: $black;
          font-size: 18px;
        }
      }
    }
  }
  #about-intro {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: left;

    @include breakpoint-down(md) {
      padding-top: 50px;
      padding-bottom: 50px;
    };

    h3.sub-title {
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 1px;
      margin-bottom: 0px;
      @include breakpoint-down(md) {
        font-size: 16px;
      };
    }

    h2.title {
      margin-top: 10px;
      font-size: 40px;
      color: $white;

      @include breakpoint-down(md) {
        font-size: 34px;
      };
    }

    p.desc {
      font-weight: 300;
      font-size: 16px;
      line-height: 26px;
    }
  }

  #about-team {
    padding-bottom: 100px;
    background-color: $white;
    text-align: center;

    @include breakpoint-down(md) {
      padding-bottom: 50px;
    };

    .info {
      padding-top: 100px;

      @include breakpoint-down(md) {
        padding-top: 50px;
      };

      h3.label {
        color: $black2;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 700;

        @include breakpoint-down(md) {
          font-size: 18px;
        };
      }
  
      p.desc {
        color: $black2;
        font-size: 24px;

        @include breakpoint-down(md) {
          font-size: 20px;
        };

        a {
          color: $black;
          transition: color 300ms;
          &:hover {
            color: $grey2;
          }
        }
      }
    }

    .gallery {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;

      @include breakpoint-down(md) {
        flex-direction: column;
      };

      .image {
        padding: 5px;
        > img {
          border-radius: 2px;
        }
      }

      .group {
        flex: 1;
      }

      .grid {
        display: flex;
        flex-wrap: wrap;
        .image {
          width: 50%;
        }
      }
    }
  }
}