#about-container {
  #intro-container {
    background: url(../image/about/about_us_background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 75vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;

    .intro {
      margin-bottom: 50px;
    }

    @include breakpoint-down(sm) {
      background-image: url(../image/about/about_us_background_mobile.jpg);
      min-height: calc(100vh - 60px);
    }

    .heading {
      font-size: 38px;
      font-weight: 500;

      @include breakpoint-down(sm) {
        font-weight: 500;
        line-height: 45px;
      }
    }

    .sub-title {
      font-weight: 400;
      font-size: 18px;
      padding: 0 100px;
      line-height: 27px;
      max-width: 950px;

      @include breakpoint-down(md) {
        padding: 0 20px;
        font-size: 20px;
        line-height: 28px;
      }
    }

    * {
      color: $white;
    }
  }

  #offices {
    background-color: $white;
    text-align: center;

    .info {
      h3.label {
        color: $black2;
        letter-spacing: 1px;
      }
    }
    .groups {
      display: flex;
      @include breakpoint-down(lg) {
        flex-direction: column;
      }
      .group {
        margin-top: 30px;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        align-items: center;
        text-decoration: none;
        img {
          width: 100px;
          height: 100px;
          object-fit: fill;
          margin-bottom: 10px;
        }
        .label {
          text-transform: uppercase;
          font-size: 18px;
          margin: 10px 0px;
          margin-bottom: 20px;
          font-weight: 500;
        }
        .desc {
          font-weight: 400;
          color: #657576;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }

  #what-we-build {
    padding-bottom: 100px;
    background-color: $white;
    text-align: center;

    .info {
      h3.label {
        color: $black2;
        letter-spacing: 1px;
      }

      p.desc {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;

        a {
          color: $black;
          transition: color 300ms;
          &:hover {
            color: $grey2;
          }
        }
      }
    }
    .groups {
      display: flex;
      @include breakpoint-down(lg) {
        flex-direction: column;
      }
      .group {
        margin-top: 30px;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        align-items: center;
        text-decoration: none;
        img {
          width: 100px;
          margin-bottom: 10px;
        }
        .label {
          color: $green;
          font-size: 22px;
          margin: 10px 0px;
        }
        .desc {
          font-weight: 300;
          color: $black;
          font-size: 18px;
        }
      }
    }
  }

  #explaination {
    .content {
      display: flex;

      @include breakpoint-down(md) {
        flex-direction: column;
      }

      .left-side,
      .right-side {
        flex: 1;
        padding: 20px 0;
      }

      .right-side {
        margin-top: 50px;
        max-width: 695px;
        margin: 0 auto;

        .desc {
          margin-top: 30px;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }

  #about-team {
    padding-bottom: 100px;
    background-color: $white;
    text-align: center;

    .info {
      h3.label {
        color: $black2;
        letter-spacing: 1px;
      }

      p.desc {
        a {
          color: $black;
          transition: color 300ms;
          &:hover {
            color: $grey2;
          }
        }
      }
    }

    .team-group {
      margin-top: 50px;
      display: flex;
      padding: 0 30px;
      font-size: 1.2rem;
      flex-wrap: wrap;
      justify-content: center;

      .group {
        padding: 10px 20px;
        height: auto;
        background: transparent;
        margin: 15px;
        color: $green;

        @include breakpoint-down(sm) {
          margin: 10px 0px;
        }

        &:hover,
        &.active {
          border-radius: 5px;
          color: $white;
          background: #0dc7d8;
          opacity: 1;
        }
      }
    }

    .gallery {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;

      @include breakpoint-down(md) {
        flex-direction: column;
      }

      .image {
        padding: 5px;
        > img {
          border-radius: 2px;
        }
      }

      .group {
        flex-wrap: wrap;
        justify-content: center;
        display: none;

        &.active {
          display: flex;
        }

        .member {
          width: 250px;
          padding: 0 25px;
          margin-bottom: 30px;

          .avatar {
            margin-bottom: 10px;
            img {
              width: 170px;
              border-radius: 100px;
            }
          }

          .description {
            .name {
              font-size: 1.15rem;
              font-weight: 500;
              margin-bottom: 5px;
            }

            .title {
              font-size: 1rem;
              font-weight: 400;
            }
          }
        }
      }

      .grid {
        display: flex;
        flex-wrap: wrap;
        .image {
          width: 50%;
        }
      }
    }
  }

  * {
    .info {
      &.container {
        margin-top: 100px;

        @include breakpoint-down(sm) {
          margin-top: 0px;
        }
      }

      h3.label {
        font-size: 38px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;

        @include breakpoint-down(sm) {
          line-height: 45px;
        }
      }

      p.desc {
        color: #657576;
        margin-top: 20px;
        font-weight: 300;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
      }
    }
  }
}
