#airdrop-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../image/airdrop/airdrop-background.png') no-repeat;
    background-size: cover;
    color: $white;

    h1, p, a {
        color: $white;
    }

    p {
        font-size: 20px;
    }

    span.highlight {
        color: #FFC700;
    }

    .title {
        text-align: center;
        font-size: 50px;
        font-weight: normal;
    }

    #box {
        display: flex;
        justify-content: space-between;
        padding: 30px 70px;
        background: $white;
        border-radius: 15px;
        margin-top: 40px;
        margin-bottom: 30px;
        align-items: center;

        * {
            font-size: 16px;
            color: $black;
        }

        .bold {
            font-weight: bold;
        }

        .telegram-btn {
            margin-left: 50px;
            text-decoration: none;

            button {
                box-shadow: #BEEEF1 0px 2px 4px;
                height: auto;
                padding: 10px 20px;
                color: $white;
                border-radius: 27px;
                background: #1A73E8;
                display: flex;
                align-items: center;

                .icon {
                    width: 30px;
                    margin-right: 15px;
                }
            }
        }
    }

    @include breakpoint-down(xl) {
        padding: 0 40px;

        #box {
            flex-direction: column;

            .telegram-btn {
                margin-top: 30px;
            }
        }
    }

    @include breakpoint-down(sm) {
        .title {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }

        #box {
            padding: 10px 20px;

            .telegram-btn {
                margin-left: 0;
                margin-top: 10px;

                button {
                    font-size: 0.8rem;
                }
            }
        }
    }
}