#become-validator-container {
  @extend #build-container;

  #node-tab-container {
    padding-bottom: 0 !important;

    .tab-container {
      margin-bottom: 0;
      .tab-item {
        * {
          color: $white;
        }
      }
    }
  }

  div#content {
    .intro-container {
      > div {
        padding-top: 30px;
      }
    }
  }
}
