#build-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

  p {
    font-size: 18px;
  }

  div#content {
    .intro-container {
      padding-top: $header-height;
      background-color: #0c1c1d;
      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 50px;

        .info {
          flex: 5;
          padding-right: 40px;
          .title {
            span {
              font-size: 42px;
              color: $white;
              letter-spacing: 0;
              line-height: 56px;
            }
            span.highlight {
              color: #25cdd6;
            }
          }
          .descs {
            .desc {
              font-size: 18px;
              color: #adbaba;
              letter-spacing: 0;
              line-height: 27px;

              a {
                color: $white;
              }

              .highlight {
                color: #25cdd6;
              }
            }
          }
        }
        .image {
          flex: 5;

          @include breakpoint-down(md) {
            display: none;
          }
        }
      }
    }

    .step-container {
      padding-top: 50px;
      max-width: 1300px;
      .step-item {
        .show-collapse {
          .label {
            &::before {
              background-color: $green;
            }
          }
          .content {
            max-height: fit-content !important;
          }
        }

        .label {
          position: relative;
          padding-left: 42px;
          font-size: 18px;
          color: #0c1c1d;
          letter-spacing: 0;
          line-height: 27px;
          &::before {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            content: attr(data-step-number);
            width: 30px;
            height: 30px;
            background-color: $grey;
            left: -15px;
            border-radius: 15px;
            top: -4px;
            color: $white;
          }
        }

        .content {
          position: relative;
          padding-left: 42px;
          margin-bottom: 30px;
          &::before {
            display: block;
            position: absolute;
            content: '';
            width: 2px;
            height: 100%;
            background-color: $grey;
            left: 0px;
          }

          a {
            color: #3884ff;
          }

          p {
            font-size: 18px;
            color: #0c1c1d;
            letter-spacing: 0;
            line-height: 27px;
            font-weight: 300;
          }
          .script {
            font-size: 16px;
            letter-spacing: -1px;
            font-weight: 400;
            color: black;
          }

          .install-app-img {
            max-width: 200px;
            margin-right: 20px;
          }

          .quote {
            font-size: 16px;
            margin: 0px 10px;
            letter-spacing: -1px;
          }

          .copiable {
            &::after {
              content: 'Copy';
              margin-left: 5px;
              background-color: $green;
              color: $white;
              padding: 2px 10px;
              font-size: 14px;
              border-radius: 2px;
            }
          }

          .highlight {
            font-weight: 500;
          }

          .italic {
            font-style: italic;
          }

          .row-img {
            display: flex;
            @include breakpoint-down(sm) {
              flex-direction: column;
            }
            .img {
              flex: 1;
            }
          }

          img {
            max-width: 300px;
            display: block;

            &.wallet {
              max-width: unset;
            }

            &.landscape {
              max-width: 700px;
            }
          }
        }
      }
    }
  }
}
