@import 'core/variables';
@import 'core/utils';

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
  padding: 0px;
  width: 100%;

  .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  a {
    margin: 0px 20px;
    text-decoration: unset;
  }

  h1.header-logo {
    font-size: 24px;
    color: $green;
    letter-spacing: 0;
    font-family: $sourcecode-pro-font;
  }
}