#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
  width: 100%;

  .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: unset;
    
    &.menu-item {
      margin: 10px 20px;
      transition: color 300ms;
      &:hover {
        color: $white;
      }
    }
  }

  h1.header-logo {
    font-size: 24px;
    color: $green;
    letter-spacing: 0;
  }
}