#home1-container {
  display: flex;
  flex: 1;
  flex-direction: column;

  #telegram-chat-float {
    @include breakpoint-down(xl) {
      display: none;
    }
  }

  .image {
    position: relative;
    .links {
      width: 100%;
      position: absolute;
      z-index: 1;
      top: 100px;
      justify-content: center;
      display: flex;
      align-items: flex-start;

      @include breakpoint-down(676px) {
        top: 20px;
        padding: 0px 10px;
      }

      .link {
        background: transparent;
        color: $white;
        font-size: 18px;
        letter-spacing: 0;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: solid 2px $white;
        border-radius: 20px;
        padding: 5px 20px;
        transition: color 300ms, background 300ms;

        &:first-child {
          margin-right: 36px;

          @include breakpoint-down(676px) {
            margin-right: 5px;
          }
  
        }

        @include breakpoint-down(676px) {
          margin-bottom: 5px;
        }

        span {
          color: inherit;
        }

        &::after {
          content: '>';
          margin-left: 5px;
          transform: scale(0.4,1) translate(0px);
          display: inline-block;
          font-weight: 100;
          transition: transform 0.2s;
        }

        &:hover {
          background: $white;
          color: $black;
          &::after {
            transform: translate(3px);
          }
        }
      }
    }
  }
  
  .right-content {
    display: flex;
    flex-direction: column;

    .intro {
      justify-content: unset !important;
      padding-bottom: 240px !important;
    }

    .price-info {
      display: flex;
      align-items: center;

      .price {
        margin-right: 50px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        color: $white;
  
        span {
          font-size: 32px;
          letter-spacing: 0;
          line-height: 23px;
          &.origin-price {
            color: #8C9C9D;
            text-decoration: line-through;
          }
          &.end-price {
            font-weight: 500;
            color: #B12704;
            margin-right: 10px;
          }
        } 
      }

      .rocket {
        display: flex;
        align-items: center;

        img {
          width: 28px;
          margin-right: 10px;
        }

        span {
          color: #25CDD6;
          
        }
      }
    }

    .custom-countdown {
      display: flex;
      flex-direction: row;

      span {
        color: inherit;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 23px;
      }

      .countdown {
        display: inline-block;
        color: $white;
        margin-left: 5px;

        .countdown-container {
          font-size: 16px;
          color: $white;
          display: flex;
          flex-direction: row;

          .group, .data, .label {
            font-weight: 500;
            font-size: 16px;
            color: #FF8E00;
            letter-spacing: 0;
            display: inline;
            margin-right: 1px;
            margin-left: 1px;

            @include breakpoint-down(xl) {
              color: #FF8E00;
            }
          }
        }
      }
    }

    .row {
      display: flex;
      flex-direction: row;

      .row-item {
        flex: 1;
      }
    }

    .cta {
      margin-top: 50px;

      @include breakpoint-down(xl) {
        padding: 20px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(13, 58, 60, 0.95);
      };

      span {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 25px;
        @include breakpoint-down(xl) {
          color: $white;
        }
      }

      .subscribe-email {
        margin-bottom: unset !important;
        margin-top: unset !important;

        > span {
          margin-bottom: 15px;
          font-size: 18px;
          font-weight: 400;
          display: block;
        }

        form#email-subscribe {
          max-width: unset;

          button.submit-email {
            height: 48px;
            background: #FF8E00;
            border-radius: 4px;
            min-width: 190px;

            @include breakpoint-up(md) {
              width: 40%;
            }
          }

          input {
            height: 48px;
          }
        }
      }
      .total-subcriber {
        margin-top: 30px;
        span[role='counter'] {
          color: #FF8E00;
          font-weight: 500;
        }
      }
    }

    ul.list-info {
      padding-left: 16px;
      margin-top: 20px;

      li {
        font-size: 16px;
        color: #101111;
        letter-spacing: 0;
        line-height: 23px;
        list-style: initial;
        font-weight: 300;

        &::before {
          display: none;
        }
      }
    }
  }
}