#home-container {

  > div.intro-slider-container {
    display: flex;

    @include breakpoint-down(xl) {
      flex-direction: column;
    };

    .image {
      flex: 1;
      // background: url(../image/home_left_img.webp) no-repeat left bottom;
      // background-size: cover;
  
      img.mobile {
        display: none;
      }
      
  
      @include breakpoint-down(xl) {
        img.mobile {
          display: block;
          background: none;
        }
  
        img.desktop {
          display: none;
        }
      };
    }

    .right-content {
      flex: 1;
  
      @include breakpoint-down(xl) {
        padding-left: 20px;
        padding-right: 20px;
      };
  
      #intro-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-bottom: 50px;
        min-height: calc(100vh - (#{$header-height}));
        position: relative;
  
        @include breakpoint-down(xl) {
          min-height: unset;
        };
      
        >div.content {
          display: flex;
          justify-content: center;
          color: $white;
          margin-left: 80px;
          margin-right: 80px;
          margin-top: 60px;
  
          @include breakpoint-down(md) {
            margin-left: 20px;
          };
      
          @include breakpoint-down(xl) {
            margin-top: 20px;
          };
      
          div.image {
            min-width: 400px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        
            > img {
              max-width: 400px;
            }
        
            @include breakpoint-down(lg) {
              display: none;
            };
          }
          div.intro {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 100px;
            
            > div {
      
              >div.subscribe-email {
                margin-top: 20px;
                margin-bottom: 30px;
              }
      
              h3.highlight-title {
                font-size: 28px;
                color: $black;
                letter-spacing: 0;
                font-weight: 300;
                margin: 0px;
              }
          
              h1.title {
                font-size: 50px;
                color: $green;
                letter-spacing: 0;
                line-height: 60px;
                font-weight: 300;
                margin-top: 15px;
                margin-bottom: 40px;
  
                br {
                  @include breakpoint-down(680px) {
                    display: none;
                  };
                }
        
                span.crypto-name {
                  position: relative;
                  width: 200px;
                  display: inline-block;
                  color: inherit;
                  font-weight: 700;
        
                  &::after {
                    content: '.';
                    font-weight: 100;
                  }
        
                  @include breakpoint-down(680px) {
                    display: block;
                  };
                }
              }
          
              p.sub-title  {
                font-size: 20px;
                font-weight: 300;
                color: $black;
                letter-spacing: 0;
                line-height: 30px;
                max-width: 600px;
      
                @include breakpoint-down(1600px) {
                  line-height: 24px;
                };
      
                .highlight {
                  color: $green;
                }
                &.subcriber-count {
                  position: absolute;
                  bottom: 80px;
                }
              }
              
              ul {
                li {
                  font-size: 16px;
                  color: #BBBFC4;
                  letter-spacing: -1px;
                  line-height: 34px;
          
                  >a.list-url {
                    font-weight: 'bold';
                    color: $white;
                    text-decoration: underline;
                  }
                }
              }
            }
            .action-btn {
              position: absolute;
              bottom: 80px;
              white-space: nowrap;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 20px;
              font-weight: 300;
              color: $black;
              letter-spacing: 0;
              line-height: 30px;
      
              img {
                width: 15px;
                transform: translateY(0px);
                margin-right: 10px;
                transition: transform 400ms;
              }
              &:hover {
                img {
                  transform: translateY(-5px);
                }
              }
            }
          }
        }
      }
    }
  }

  #section-container {
    padding-top: 77px;
    padding-bottom: 100px;
    background-color: $white;
  
    @include breakpoint-down(lg) {
      padding-top: 50px;
      padding-bottom: 50px;
    };
  
    >div.section {
      margin-top: 100px;
      padding-bottom: 77px;
      text-align: center;
  
      .info, .stack {
        margin: auto;
        text-align: center;
      }
  
      .stack {
        .stack-name {
          color: $black;
          font-size: 18px;
        }
        a.stack-item {
          color: $black;
          transition: color 300ms;
          font-size: 18px;
  
          &:hover {
            color: $grey2;
          }
        }
      }
  
      .info {
        h3, h1, span, p {
          color: $black;
        }
    
        h3.subtitle {
          font-size: 18px;
          color: $black2;
          text-align: center;
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          letter-spacing: 3px;
          margin: 0px;
          line-height: 20px;
          font-weight: bold;
        }
    
        h1.title {
          font-weight: normal;
          font-size: 42px;
          color: $black2;
          letter-spacing: initial;
          text-align: center;
          line-height: 53px;
          max-width: 700px;
          margin-left: auto;
          margin-right: auto;
        }
    
        p.desc {
          text-align: center;
          font-size: 20px;
          font-weight: 300;
          color: $black;
          letter-spacing: 0;
          line-height: 30px;
          max-width: 800px;
          margin-left: auto;
          margin-right: auto;
        }
      }
  
      > img {
        padding-top: 77px;
      }
    }
  }
}