#home-container {
  display: flex;
  flex: 1;
  flex-direction: column;

  nav#header {
    position: absolute;
    z-index: 1;
    border-bottom: none;

    .logo {
      background-image: url('../image/logo_white.svg');
    }

    .hamburger-btn {
      background-image: url('../image/icon/hamburger-white.svg');
    }

    .desktop-menu {
      .menu-item {
        color: $white;
      }
    }
  }

  #content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #E4EEEF;
    #intro-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 270px;
      align-items: center;
      padding-left: 30px;
      padding-right: 30px;
      background-image: url('../image/home/bg-desktop.jpg');
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      flex: 1;


      @include breakpoint-down(xl) {
        padding-top: 100px;
        padding-bottom: 25px;
        flex-basis: 350px;
      };
      
      @include breakpoint-down(sm) {
        text-align: left;
        background-image: url('../image/home/bg_mobile.jpg');
        flex-basis: 900px;
      };

      @include breakpoint-down(450px) {
        flex-basis: 800px;
      };


      .title {
        font-size: 40px;
        letter-spacing: 0;
        line-height: 54px;
        color: $white;
        margin: 0px;
        .highlight {
          color: $green;
          display: inline-block;
        }
      }
  
      .sub-title {
        display: block;
        max-width: 720px;
        font-size: 16px;
        color: $white;
        letter-spacing: 0;
        text-align: center;
        line-height: 26px;

        @include breakpoint-down(md) {
          text-align: left;
          margin: unset;
          max-width: unset;
          width: 100%;
        };
      }
    }
    #categories-container {
      padding: 0px 70px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      position: absolute;

      @include breakpoint-down(xl) {
        flex-direction: row;
        flex-wrap: wrap;
        position: unset;
        transform: unset;
        left: unset;
      };

      @include breakpoint-down(md) {
        padding: 0px 20px;
      };

      .category {
        display: flex;
        flex-direction: row;
        margin: 10px 10px;
        background-color: $white;
        padding: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        border: 0 solid rgba(0,0,0,0.04);
        box-shadow: 0 3px 8px 0 rgba(0,0,0,0.15);
        border-radius: 8px;
        position: relative;
        top: 0px;
        transition: top 0.3s ease-in-out;
        cursor: pointer;
        text-decoration: none;
        width: 100%;

        @include breakpoint-down(xl) {
          width: 45%;
        };

        @include breakpoint-down(1400px) {
          padding-bottom: 20px;
        };

        @include breakpoint-down(md) {
          width: 100%;
        };

        &:hover {
          top: -10px;
        }

        &.disabled {
          transition: unset;
          top: unset;
          cursor: unset;
        }

        .info {
          display: flex;
          flex-direction: column;
          text-align: left;
          margin-right: 40px;

          @include breakpoint-down(1400px) {
            margin-right: 14px;
          };

          
          .label {
            font-size: 16px;
            color: #111111;
            letter-spacing: 0;
            line-height: 23px;
            margin-bottom: 20px;
          }
    
          .desc {
            font-size: 14px;
            color: #657576;
            letter-spacing: 0;
            line-height: 20px;
          }
        }

        .img {
          height: 130px;
          margin-bottom: 20px;
          margin-left: auto;
          > img {
            width: 90px;
          }
        }        
      }
    }

    .popup-random {
      background-color: white;
      padding: 10px;
      max-width: 250px;
      border: 0 solid rgba(0,0,0,0.04);
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.15), 0 1px 1px 0 rgba(0,0,0,0.16), 0 3px 0 0 rgba(0,0,0,0.10);
      border-radius: 8px;
      position: absolute;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -10px;
        border-top: solid 10px white;
        border-right: solid 20px transparent;
        border-left: solid 20px transparent;
        left: 50%;
        transform: translateX(-50%);
      }
      .balance, .activity {
        display: flex;
        flex-direction: column;
        margin: 10px 0px;

        .label {
          color: $grey2;
        }

        .value {
          font-size: 15px;
        }
      }
    }
  }
}