#home-container {
  nav#header {
    position: absolute;

    .logo {
      background-image: url('../image/logo_white.svg');
    }

    .hamburger-btn {
      background-image: url('../image/icon/hamburger-white.svg');
    }

    .desktop-menu {
      .menu-item {
        color: $white;
      }
    }
  }

  #content {
    position: relative;
    top: -$header-height;
    z-index: -1;
    #intro-container {
      padding-top: 170px;
      height: 900px;
      background-image: url('../image/home/bg.png');
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      margin-bottom: 20px;
      .title {
        font-size: 40px;
        letter-spacing: 0;
        line-height: 54px;
        color: $white;
        .highlight {
          color: $green;
          display: inline-block;
        }
      }
  
      .sub-title {
        display: block;
        max-width: 588px;
        margin: auto;
        font-size: 18px;
        color: $white;
        letter-spacing: 0;
        text-align: center;
        line-height: 28px;
      }
    }
    #categories-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .category {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 10px 10px;
        background-color: $whitegrey;
        padding: 20px;
        padding-top: 30px;
        padding-bottom: 50px;
  
        .img {
          height: 130px;
          margin-bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          > img {
            width: 90px;
          }
        }
  
        .label {
          font-size: 20px;
          color: $black;
          letter-spacing: 0;
          text-align: center;
          line-height: 25px;
          margin-bottom: 20px;
        }
  
        .desc {
          font-size: 16px;
          color: #657576;
          letter-spacing: 0;
          text-align: center;
          line-height: 25px;
        }
      }
    }
  }
}