#internal-subscriber-board {
  min-height: 100vh;
  display: flex;
  flex: 1;

  .block-text {
    text-align: center;
    margin: auto;
    span {
      font-size: 5vw;
      font-weight: 100;
    }
    .count {
      display: block;
      font-size: 30vw;
      font-weight: 500;
    }
  }
  
}