@import 'core/variables';
@import 'core/utils';

#intro-container {
  background-color: $black2;
  display: flex;
  justify-content: center;
  color: $white;
  padding-top: 145px;
  
  div.image {
    margin-right: 25px;
    > img {
      
      @include breakpoint-up(xl) {
        width: 380px;
        margin-right: 70px;
      };
    }

    @include breakpoint-down(lg) {
      display: none;
    };
  }
  div.intro {
    flex: 1;
    h1.title {
      font-family: $space-mono-font;
      font-size: 42px;
      color: $green;
      letter-spacing: 0;
      line-height: 0px;
      margin-bottom: 42px;

    }
    p.sub-title  {
      font-size: 24px;
      letter-spacing: -1px;
      line-height: 34px;
      span.crypto-name {
        color: $white;
        font-weight: bold;
        text-decoration: underline;
        display: inline-block;
      }
    }
    form.email-subscribe {
      margin-top: 48px;
      margin-bottom: 48px;
      display: flex;

      #email-input{
        margin-right: 14px;
        flex: 1;
      }
      button.submit-email {
        min-width: 185px;
      }

      @include breakpoint-down(md) {
        flex-direction: column;

        #email-input{
          margin-right: unset;
          margin-bottom: 14px;
          flex: unset;
        }
        button.submit-email {
          min-width: 185px;
        }
      };
    }
    
    ul {
      li {
        font-family: SourceCodePro-Regular;
        font-size: 16px;
        color: #BBBFC4;
        letter-spacing: -1px;
        line-height: 34px;

        >a.list-url {
          font-weight: 'bold';
          color: $white;
          text-decoration: underline;
        }
      }
    }
  }
}