@import 'core/variables';
@import 'core/utils';
@import 'core/button';
@import 'core/input';
@import 'core/list';
@import 'core/textarea';
@import 'core/image';
@import 'core/font';
@import 'core/animation';
@import 'common/price_info.scss';
@import 'common/video_popup.scss';
@import 'common/cta.scss';
@import './general_page.scss';
@import './about.scss';
@import './header.scss';
// @import './mine.scss';
@import './privacy.scss';
@import './footer.scss';
@import './message_box.scss';
@import './top_question.scss';
@import './referral.scss';
@import './specs.scss';
// @import './home.scss';
@import './internalSubscriberBoard.scss';
@import './coundown.scss';
@import './home1.scss';
@import './home2.scss';
@import './modal.scss';
@import './invite_email_form.scss';
@import './subscribe_email.scss';
@import './telegram_chat.scss';
@import './collapse.scss';
@import './build.scss';
@import './become_validator.scss';
@import './buy_now.scss';
@import './subscribe_form.scss';
@import './airdrop.scss';
@import './sidechain.scss';
@import './wallet.scss';
@import './dex.scss';
@import './free_software.scss';
@import './self_funded.scss';
@import './payment.scss';
@import './order_confirmation.scss';

* {
  box-sizing: border-box;
  color: $text-color;
  font-family: $default-font;
}

html,
body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  background-color: $background-color;
  margin: 0px;
  padding: 0px;
  font-size: $default-font-size;
  line-height: $default-line-height;

  min-width: 350px;
  transition: background-color 300ms;

  div#content {
    flex: 1;
  }
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

p {
  letter-spacing: initial;
}

h1,
h2,
h3 {
  font-weight: 500;
  color: $black;
}

a {
  &:hover {
  }
}

.container {
  max-width: $page-width;
  margin: 0px auto;

  @include breakpoint-up(xl) {
    padding: 0px 198px;
  }

  @include breakpoint-down(xl) {
    padding: 0px 120px;
  }

  @include breakpoint-down(md) {
    padding: 0px 50px;
  }

  @include breakpoint-down(sm) {
    padding: 0px 30px;
  }
}

.scroll-action-btn,
.copiable {
  cursor: pointer;
}

.hidden-heading {
  width: 0px;
  height: 0px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.fb_dialog {
  transform: scale(0.75);

  @include breakpoint-down(xl) {
    right: 0pt !important;
    bottom: 55pt !important;
  }
}
