@import 'core/variables';
@import 'core/utils';
@import 'core/button';
@import 'core/input';
@import 'core/list';
@import 'core/image';
@import 'core/font';
@import 'core/animation';
@import './home.scss';
@import './about.scss';
@import './header.scss';
// @import './mine.scss';
@import './footer.scss';
@import './message_box.scss';
@import './subscribe_form.scss';
@import './top_question.scss';
@import './referral.scss';

* {
  box-sizing: border-box;
  color: $text-color;
  font-family: $default-font;
}

html, body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: $background-color;
  margin: 0px;
  padding: 0px;
  font-size: $default-font-size;

  min-width: 400px;
  transition: background-color 300ms;


  div#content {
    flex: 1
  }
}


.container {
  max-width: $page-width;
  margin: 0px auto;

  @include breakpoint-up(xl) {
    padding: 0px 198px;
  };

  @include breakpoint-down(xl) {
    padding: 0px 120px;
  };

  @include breakpoint-down(md) {
    padding: 0px 50px;
  };

  @include breakpoint-down(sm) {
    padding: 0px 30px;
  };
}

.scroll-action-btn {
  cursor: pointer;
}
