#mine-container {
  background-color: $white;
  color: $white;
  padding-top: 100px;

  @include breakpoint-down(lg) {
    padding-top: 50px;
  };

  #mine-intro {
    display: flex;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    div.intro {
      width: 700px;

      h3.sub-title {
        color: $black1;
        font-size: 26px
      }
      h1.title {
        color: $black1;
        font-size: 40px
      }
      p.desc {
        color: $grey1;
        font-size: 22px;
        a {
          color: inherit;
        }
      }
    }
  }

  #model-viewer {
    margin: 100px auto;

    h2 {
      text-align: center;
      color: $black1;
      font-size: 40px
    }
  }
}