#mine-container {
  background-color: $black2;
  display: flex;
  justify-content: flex-end;
  color: $white;
  padding-top: 100px;

  @include breakpoint-down(lg) {
    padding-top: 50px;
  };

  #mine-intro {
    display: flex;
    justify-content: flex-end;
    div.intro {
      width: 700px;
    }
  }
}