@import 'core/variables';
@import 'core/utils';

#mine-container {
  background-color: $black2;
  display: flex;
  justify-content: center;
  color: $white;
  padding-top: 100px;

  @include breakpoint-down(lg) {
    padding-top: 50px;
  };

  #mine-intro {
    div.image {
      margin-right: 25px;
      > img {
        
        @include breakpoint-up(xl) {
          width: 380px;
          margin-right: 70px;
        };
      }

      @include breakpoint-down(lg) {
        display: none;
      };
    }
    
    div.intro {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 100px;
      > div {
        h3.highlight-title {
          font-size: 24px;
          color: $green;
          letter-spacing: 0;
          margin-bottom: 63px;
          margin-top: 0px;
        }
    
        h1.title {
          font-size: 42px;
          color: $white;
          margin-bottom: 42px;
          margin: 0px;
          letter-spacing: -1.5px;
          line-height: 50px;
          span.crypto-name {
            width: 190px;
            display: inline-block;
            color: inherit;
            text-decoration: underline;
          }
        }
    
        p.sub-title  {
          font-size: 20px;
          letter-spacing: -0.75px;
          line-height: 28px;
          .highlight {
            color: $white;
          }
        }
        form.email-subscribe {
          margin-top: 48px;
          margin-bottom: 48px;
          display: flex;
    
          #email-input{
            margin-right: 14px;
            flex: 1;
          }
          button.submit-email {
            min-width: 185px;
          }
    
          @include breakpoint-down(md) {
            flex-direction: column;
    
            #email-input{
              margin-right: unset;
              margin-bottom: 14px;
              flex: unset;
            }
            button.submit-email {
              min-width: 185px;
            }
          };
        }
        
        ul {
          li {
            font-size: 16px;
            color: #BBBFC4;
            letter-spacing: -1px;
            line-height: 34px;
    
            >a.list-url {
              font-weight: 'bold';
              color: $white;
              text-decoration: underline;
            }
          }
        }
      }
      .action-btn {
        .arrow {
          transform: rotate(180deg);
          display: inline-block;
          margin-right: 10px;
          transition: margin 300ms, color 500ms, transform 200ms;
        }
        &:hover {
          .arrow {
            transform: rotate(180deg) scaleX(2);
            color: $green;
            margin-right: 20px;
          }
        }
      }
    }
  }
}