.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-container {
    width: 90%;
    height: 70%;
    max-width: 800px;
    max-height: 700px;
    background-color: $white;
    z-index: 2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .modal-header {
      background-color: $green;
      padding: 10px 20px;
      height: 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-weight: 500;
        font-size: 20px;
        color: $black3;
      }

      button.close {
        background-color: transparent;
        height: unset;
        padding: 10px;
        color: $black3;
      }
    }
    .modal-content {
      padding: 10px 20px;
      flex: 1;
      overflow-y: scroll;
    }
  }
  .modal-overlay {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.8);
  }
}