.video-player {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 100px 200px;
  background-color: $white;
  z-index: 1000;

  .close-button {
    height: 38px;
    background: transparent;
    position: absolute;
    top: 30px;
    left: 30px;
    font-weight: 300;
    background-image: url('../image/icon/close.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}