@import 'core/variables';
@import 'core/utils';

#question-container {
  background-color: $black1;
  display: flex;
  color: $white;
  padding-bottom: 170px;

  > div.label {
    flex: 1;
    h3 {
      font-weight: bold;
      font-size: 42px;
      color: $grey-light;
      letter-spacing: -0.5px;
      line-height: 48px;
      margin-top: 20px;
    }
  }
  > div.content {
    display: flex;
    flex-direction: column;
    flex: 1;

    div.question-container {
      padding: 20px 0px;
      border-bottom: dotted 1px $grey-light;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      &::before {
        content: '>';
        color: $green;
        position: relative;
        left: -20px;
        top: 25px;
      }

      &.show-collapse {
        &::before {
          content: 'v';
        }

        span.question {
          color: $green;
        }

        span.answer {
          max-height: 500px;
        }
      }


      &:hover {
        span.question {
          font-weight: bold;
          color: $green;
        }
      }

      span.question {
        font-size: 18px;
        color: $white;
        letter-spacing: -0.5px;
        line-height: 26px;
        transition: all 500ms;
      }

      span.answer {
        font-size: 18px;
        color: $grey;
        letter-spacing: -0.5px;
        line-height: 26px;
        margin-top: 10px;
        max-height: 0px;
        overflow: hidden;
        transition: all 500ms;
      }
    }
  }
}