@import './share_email_modal.scss';

#referral-container {
  margin-top: 10px;
  #referral-intro {
    padding-bottom: 30px;
    display: flex;
    .image {
      min-width: 350px;
      margin-right: 50px;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      > img {
        max-width: 430px;
        max-height: 330px;
      }

      @include breakpoint-down(lg) {
        display: none;
      };
    }
    .content {
      flex: 1;
      text-align: left;
      display: flex;
      flex-direction: column;

      .block1 {
        margin-bottom: 20px;
        h1.title {
          font-size: 36px;
          letter-spacing: -1.5px;
          line-height: 50px;
          margin: 0px;
          color: $green;
        }
        p.desc {
          font-size: 20px;
          letter-spacing: 0;
          margin: 10px 0px;
          line-height: 28px;

          &.highlight {
            color: $green;
          }
        }
      }
      
      .block2 {
        .copy-content {
          cursor: pointer;
          display: flex;
          align-items: center;
          span.referral-link {
            display: flex;
            align-items: center;
            flex: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: left;
            padding: 0px 20px;
            height: $btn-height;
            border-radius: 4px;
            margin-right: 10px;
            font-size: 18px;
            color: #2A3036;
            letter-spacing: -0.42px;
            width: 100px;
            background-color: #f1f1f1;
          }
          button.copy-btn {
            width: 100px;
            border-radius: 4px;
            font-size: 16px;
            letter-spacing: 0;
            color: $white;
          }
        }
  
        .btns {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;

          @include breakpoint-down(sm) {
            flex-direction: column;
          };
  
          > button{
            flex: 1;
            height: 40px;
            border-radius: 4px;
            color: $white;
            font-size: 16px;
            letter-spacing: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            @include breakpoint-down(sm) {
              flex: unset;
              margin: 5px 0px;
            };

            > img {
              height: 18px;
              margin-right: 10px;
              width: 20px;
            }

            &:not(:last-child) {
              margin-right: 10px;
              @include breakpoint-down(sm) {
                margin-right: unset;
              };
            }
          }
    
          .share-twitter {
            background: #29A3EF;
          }
          .share-facebook {
            background: #4469B0;
          }
          .share-google {
            background: #d74740;
          }
        }

        span.divider {
          display: flex;
          width: 100%;
          position: relative;
          background-color: white;
          height: 100px;
          justify-content: center;
          align-items: center;

          span {
            background-color: white;
            position: absolute;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);
            padding: 0px 20px;
          }

          &::after {
            content: '';
            display: block;
            height: 1px;
            width: 50%;
            background-color: #999;
            position: absolute;
            top: 50%;
          }
        }
      }
    }
  }
  #referral-info {
    background-color: $whitegrey;
    padding-top: 30px;
    padding-bottom: 50px;
    > div.content {
      text-align: center;
      display: flex;
      flex-direction: column;
      
      span.divider {
        margin: 20px 0px;
        display: block;
      }

      span.current-status {
        font-size: 36px;
        color: $black2;
        letter-spacing: -0.3px;
        text-align: center;
        line-height: 56px;
        color: $green;
        .status {
          font-size: inherit;
          color: inherit;
          padding: 0px 10px;
        }
      }

      span.referred-box {
        margin-bottom: 10px;
        font-size: 18px;
        color: $black4;
        letter-spacing: 0;
        line-height: 29px;
        span {
          color: inherit;
          font-size: inherit;
        }
      }

      .level-box-container {
        @include breakpoint-down(1300px) {
          overflow-x: scroll;
        };
        
        .level-box {
          display: flex;
          
          .box {
            padding: 20px 10px 30px 10px;
            min-width: 142px;
            display: grid;
            flex: 1;
            justify-content: center;
            align-items: center;
            grid-template-rows: 50px 50px 50px 180px;
  
            &.label {
              text-align: left;
            }
  
            &.active {
              border: solid 2px $green;
              border-radius: 4px;
              background-color: #f4feff;
            }
  
            .desc {
              letter-spacing: 0;
              text-align: center;
            }

            .num {
              border: solid 1px black;
              width: 30px;
              height: 30px;
              border-radius: 15px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: auto;
              margin-right: auto;
            }
  
            .minner {
              font-size: 16px;
              color: $black4;
              letter-spacing: 0;
              text-align: center;
              line-height: 29px;
              font-weight: bold;
            }
  
            .top-percent {
              position: relative;
              span {
                font-size: 16px;
                color: #000000;
                letter-spacing: 0;
                text-align: center;
                line-height: 29px;
  
                &.percent {
                  font-weight: bold;
                  font-size: 20px;
                }
              }
            }
  
            img {
              height: 150px;
              width: auto;
            }
          }
        }
      }
    }
  }
}