#referral-container {
  margin-top: 100px;
  #referral-intro {
    padding-bottom: 100px;
    display: flex;
    .image {
      width: 400px;
      margin-right: 70px;
    }
    .content {
      flex: 1;
      text-align: left;
      display: flex;
      flex-direction: column;

      .block1 {
        margin-bottom: 40px;
        h1.title {
          font-size: 36px;
          color: $white;
          letter-spacing: -1.5px;
          line-height: 50px;
        }
        p.desc {
          font-size: 18px;
          color: $grey;
          letter-spacing: 0;
          line-height: 27px;
        }
      }
      
      .block2 {
        .copy-content {
          cursor: pointer;
          display: flex;
          align-items: center;
          span.referral-link {
            display: flex;
            align-items: center;
            background-color: $white;
            flex: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: left;
            padding: 0px 20px;
            height: $btn-height;
            box-shadow: 0 4px 24px 0 rgba(0,0,0,0.50);
            border-radius: 4px;
            margin-right: 10px;
            font-size: 20px;
            color: #2A3036;
            letter-spacing: -0.42px;
          }
          button.copy-btn {
            width: 100px;
            background-image: linear-gradient(90deg, #04F74C 0%, #08F555 100%);
            border-radius: 4px;
            font-size: 16px;
            letter-spacing: 0;
          }
        }
  
        .btns {
          display: flex;
          justify-content: space-between;
          margin-top: 40px;

          
  
          > button{
            flex: 1;
            height: 40px;
            border-radius: 4px;
            color: $white;
            font-size: 16px;
            letter-spacing: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            > img {
              height: 18px;
              margin-right: 10px;
              width: 20px;
            }

            &:not(:last-child) {
              margin-right: 10px;
            }
          }
    
          .share-twitter {
            background: #29A3EF;
          }
          .share-facebook {
            background: #4469B0;
          }
          .share-google {
            background: $white;
            color: $black;
          }
        }
      }
    }
  }
}