#email-subscribe {
  display: flex;
  max-width: 600px;
  align-items: center;

  .title {
    font-size: 18px;
    line-height: 19px;
    font-weight: 500;
    margin-right: 35px;
    color: $black;
    display: none;
  }

  #email-input {
    background-color: $white;
    border: solid 1px #d1dfe0;
    margin-right: 14px;
    flex: 1;
    font-size: 16px;
    color: initial;

    &::placeholder {
      color: #657576;
    }

    @include breakpoint-down(sm) {
      flex: auto;
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }

  button {
    min-width: 230px;

    .content {
      font-weight: 500;
      color: $white;
      font-size: 18px;

      &.sticky {
        display: none;
      }
    }

    @include breakpoint-down(sm) {
      font-size: 1.1em;
      font-weight: 500;
    }
  }

  #email-input,
  button {
    height: 54px;

    @include breakpoint-down(sm) {
      width: 100%;
      height: $sm-input-height;
    }
  }

  @include breakpoint-down(sm) {
    flex-direction: column;
  }
}
