#email-subscribe {
  display: flex;
  max-width: 600px;

  #email-input {
    background-color: $white;
    border: solid 1px #d1dfe0;
    margin-right: 14px;
    flex: 1;
    font-size: 16px;

    &::placeholder {
      color: #657576;
    }

    @include breakpoint-down(sm) {
      height: $sm-input-height !important;
      flex: auto;
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }

  button {
    min-width: 230px;
    width: 100%;

    #text {
      font-weight: 500;
      color: $white;
      font-size: 18px;
    }

    @include breakpoint-down(sm) {
      font-size: 1.1em;
      font-weight: 500;
    }
  }

  @include breakpoint-down(sm) {
    flex-direction: column;

    // border-bottom: 1px solid white;

    // #email-input{
    //   margin-right: unset;
    //   margin-bottom: 10px;
    //   flex: unset;
    //   background: transparent;
    //   border: none;
    //   padding-left: 0px;
    //   color: $white;
    //   flex: 1;

    //   &:focus, &:-webkit-autofill {
    //     background: transparent;
    //     border: none;
    //     outline: none;
    //   }
    // }

    // button.submit-email {
    //   min-width: unset!important;
    //   border-radius: 50px!important;
    //   width: 40px;
    //   padding: 0px!important;

    //   #text {
    //     display: none;
    //   }

    //   &::before {
    //     content: "\f061";
    //     font-family: 'Font Awesome 5 Pro';
    //     font-weight: light;
    //     color: $white;
    //   }

    //   &.loading {

    //     &:focus {
    //       outline: 0;
    //       box-shadow: none!important;
    //     }

    //     &::before {
    //       content: "\f3f4";
    //       animation: spin 1s linear infinite;
    //       display: inline-block;
    //     }
    //   }
    // }
  }
}
