#telegram-chat-float {
  width: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: bottom 500ms ease-out, transform 200ms;
  transform: rotate();

  &:hover {
    bottom: 30px;
    transform: rotate(20deg);
  }
}