#top-question-container {
  background-color: $whitegrey;
  > div {
    display: flex;
    color: $white;
    padding-top: 80px;
    padding-bottom: 100px;

    @include breakpoint-down(lg) {
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 70px;
    };

    > div.label {
      flex: 1;
      h1 {
        position: relative;
        top: 10px;
        color: $black2;
        margin-top: 20px;

        @include breakpoint-down(lg) {
          font-size: 36px;
          line-height: 40px;
          margin: 0px;
        };
      }
    }
    > div.content {
      display: flex;
      flex-direction: column;
      flex: 1;

      div.question-container {
        padding: 5px 0px;
        border-bottom: dotted 1px $grey-light;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        &::before {
          content: '>';
          color: $black1;
          position: relative;
          left: -20px;
          top: 25px;
        }

        &.show-collapse {
          &::before {
            content: 'v';
          }

          span.question {
            color: $black1;
          }

          span.answer {
            max-height: 500px;
          }
        }


        &:hover {
          span.question {
            font-weight: bold;
            color: $green;
          }
        }

        span.question {
          font-size: 18px;
          font-weight: bold;
          color: $black1;
          letter-spacing: -0.5px;
          line-height: 26px;
          transition: all 500ms;
        }

        span.answer {
          font-size: 16px;
          color: $grey1;
          letter-spacing: -0.5px;
          line-height: 26px;
          margin-top: 10px;
          max-height: 0px;
          overflow: hidden;
          transition: all 500ms;
          &::after {
            content: '';
            display: block;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}