#wallet-container {
  background: #191919;

  @include breakpoint-down(xl) {
    min-height: calc(100vh - 60px);
  }

  > div.intro-slider-container {
    .right-content {
      * {
        color: $white;
      }

      #intro-container {
        > div.content {
          div.intro {
            > div .heading {
              color: $white;
            }

            > div {
              h1.title {
                color: $white;
              }
            }

            .app-store-groups {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}
