#wallet-container {
  div#content {
    #intro-container {
      background: #191919;
      position: relative;

      @include breakpoint-up(sm) {
        min-height: 650px;
        display: flex;
        align-items: center;
      }

      .info {
        @include breakpoint-up(lg) {
          flex: 0 0 50%;
        }

        .app-store-groups {
          margin-top: 50px;
        }
      }

      .image {
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        width: 50%;
        padding-top: 30px;
        padding-left: 10%;
        overflow: hidden;

        img {
          height: 100%;
          width: auto;
        }
      }
    }

    #section-container {
      .section {
        &:not(:first-child) {
          margin-top: 0;
        }

        &__wrapper {
          display: flex;
          align-items: center;

          @include breakpoint-down(sm) {
            flex-direction: column;
          }
        }

        &__content {
          flex: 0 0 40%;
          text-align: left;

          h1.title {
            font-size: 32px;
            line-height: 44px;

            &::after {
              content: none;
            }
          }
        }

        &__image {
          flex: 0 0 60%;
          display: flex;
          justify-content: flex-end;

          @include breakpoint-down(sm) {
            margin-top: 20px;
          }

          img {
            width: 80%;
            object-fit: contain;
            object-position: right;
            max-height: 400px;

            @include breakpoint-down(sm) {
              width: 100%;
            }
          }
        }

        @include breakpoint-up(sm) {
          &:nth-child(even) {
            .section {
              &__wrapper {
                flex-direction: row-reverse;
              }

              &__image {
                justify-content: flex-start;
              }
            }
          }
        }
      }
    }

    #footer-container {
      background-color: #232323;

      .container {
        display: flex;

        @include breakpoint-down(sm) {
          flex-direction: column-reverse;
        }

        .image,
        .content {
          flex: 1;
        }

        .image {
          padding-top: 50px;
          display: flex;
          align-items: flex-end;
        }

        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin-left: 20px;

          @include breakpoint-down(sm) {
            margin-left: 0;
            margin-top: 30px;
          }

          h1.title {
            font-size: 32px;
            line-height: 44px;
            color: $white;
            margin: 0;
          }

          p.desc {
            color: $white;
          }

          .app-store-groups {
            margin-top: 10px;
          }
        }
      }
    }

    .newsletter-subscription-container {
      margin-bottom: 80px;

      @include breakpoint-down(lg) {
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }
  }
}
