extends ../layout.pug


block title
   title Incognito mode for blockchains.
   
block main
   div#miner-container
      div.intro-slider-container
         .image
            i-slider
            img(src=require('../../image/sidechain/home_image_mobile.png')).mobile
         .right-content
            include ../header.pug
            include intro.pug
      include section.pug
      include question.pug