extends ../layout.pug

block meta
   meta(property="og:title" content="The world’s first platform for privacy tokens")
   meta(property="og:description" content="Store, send and receive all your crypto assets - like BTC, ETH, and USDT - with total privacy. Know that no one can see your balances or track your activity.")

block title
   title Incognito mode for blockchains.
   
block main
   div#sidechain-container
      div.intro-slider-container
         .image
            i-slider(images=[{
                  img: require('../../image/sidechain/home_slider_1.jpg'),
                  position: 'center center',
               }
            ])
            img(src=require('../../image/sidechain/home_image_mobile.png')).mobile
         .right-content
            include ../header.pug
            include intro.pug
      include section.pug
      include question.pug