mixin item(img, label, desc, url) 
  if url
    a(href= url).category
      .info
        span.label= label
        span.desc= desc
      .img
        img(src= img, alt='category-item')
  else
    .category.disabled
      .info
        span.label= label
        span.desc= desc
      .img
        img(src= img, alt='category-item')

#categories-container
  +item(require('../../image/home/run_vn.png'), 'Host a Node', 'On your computer or a VPS. Own a piece of the network and earn passive income.', '/validator.html')
  +item(require('../../image/pro-miner.png'), 'Get a Node device', 'The easiest way to host a Node. Plug and play. Earn crypto.', '/node.html')
  +item(require('../../image/home/wallet_app.png'), 'Download the Wallet', 'Keep your activity confidential. Store, send and receive crypto privately.', '/send-bitcoin-anonymously-01.html')
  +item(require('../../image/home/issue_token.png'), 'Issue a Privacy Token', 'Your very own. Tokenize any form of private ownership. Coming soon.')