mixin item(img, label, desc, url) 
  if url
    a(href= url).category
      .info
        span.label= label
        span.desc= desc
      .img
        img(src= img, alt='category-item')
  else
    .category.disabled
      .info
        span.label= label
        span.desc= desc
      .img
        img(src= img, alt='category-item')

#categories-container
  +item(require('../../image/pro-miner.png'), 'Host a Node', 'Plug and play. Earn crypto.', '/node.html')
  +item(require('../../image/home/run_vn.png'), 'Run a Virtual Node', 'On your computer or on a VPS.', '/validator.html')
  +item(require('../../image/home/wallet_app.png'), 'Download the wallet', 'Store, send and receive crypto privately.', '/wallet.html')
  +item(require('../../image/home/issue_token.png'), 'Issue your own privacy token', 'Tokenize any form of private ownership. Coming soon.')