extends ../layout.pug

block title
   meta(property="og:image" content="/Aboutus.png")
   title Incognito mode for the token economy.
   
block main
   #home-container
      include ../header.pug
      #content
         include intro.pug
         include categories.pug
   