#intro-container
  h1.title
    .highlight Incognito mode 
    | 
    | for the token economy.
  
  p.sub-title You should be able to choose if you want people to know how much you have, or don’t have. How much you earn, where you get your money from, what you spend it on, and who you send it to. In our increasingly tokenized world, having that choice is important.
  