#intro-container
  h1.title
    .highlight Incognito mode 
    | 
    | for the token economy.
  
  p.sub-title You get to choose. If you want people to know how much you have, what you do with it, where it comes from, who you send it to. Having that choice is important.