mixin list(desc)
  li
    span= desc

div#intro-container.container.bounceInUp-ani
  div.image
    img(src=require('../../image/coolphone.webp'))
  div.intro
    div
      h1.title
        |Send 
        span.crypto-name Bitcoin
        |  privately.
      p.sub-title Choose a crypto asset, enter Incognito mode, then send it to anyone – with total privacy. Your personal and transaction data remain completely confidential.
      p.sub-title Turn on privacy with a single tap.

      form(onsubmit='return false;').email-subscribe
        input(placeholder='Enter your email', required, type='email', pattern='[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{2,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})')#email-input
        button(type='submit').submit-email Get Early Access

      //- ul
      //-   +list('Issue your own privacy token')
      //-   +list('Buy Privacy token')
      //-   +list('Mine and earn Privacy token')
      //-   +list('Partner with the Incognito blockchain')
      //-   +list('Read the whitepaper & open-source code')

    span.action-btn.scroll-action-btn(data-scroll-to='#section-container')
      span.arrow &#8593; 
      | Built on cool science
