mixin list(desc)
  li
    span= desc

div#intro-container.bounceInUp-ani
  .content
    div.intro
      div
        h1.title Privately send  
          span.crypto-name Bitcoin
        p.sub-title Incognito is a privacy sidechain that allows you to access other blockchains in incognito mode.
        p.sub-title Now you can store, send and receive all your crypto assets — with total privacy. You can even mint your own privacy-protecting digital token.
        p.sub-title Oh and it’s fast.

        .subscribe-email
          include ../common/subscribe_form.pug

        div.action-btn.scroll-action-btn(data-scroll-to='#section-container')
          img(src=require('../../image/icon/arrow_grey.svg'))
          span Built on cool science  


        //- ul
        //-   +list('Issue your own privacy token')
        //-   +list('Buy Privacy token')
        //-   +list('Mine and earn Privacy token')
        //-   +list('Partner with the Incognito blockchain')
        //-   +list('Read the whitepaper & open-source code')

      
