mixin list(desc)
  li
    span= desc

div#intro-container.container.bounceInUp-ani
  .content
    div.image
      img(src=require('../../image/coolphone.webp'))
    div.intro
      div
        h3.highlight-title Incognito
        h1.title Earn
          | 
          span.crypto-name Bitcoin
          <br />
          |while you sleep.
        p.sub-title Incognito earns you a little extra income for building a better, safer internet. 
        p.sub-title From a team that shipped $100M+ of smart devices worldwide.
        p.sub-title $199
          | 
          span(style='text-decoration: line-through') $299
          |
          |for early birds. Arrives Summer 2019.

        include ../common/subscribe_form.pug

        //- ul
        //-   +list('Issue your own privacy token')
        //-   +list('Buy Privacy token')
        //-   +list('Mine and earn Privacy token')
        //-   +list('Partner with the Incognito blockchain')
        //-   +list('Read the whitepaper & open-source code')

      //- div.action-btn.scroll-action-btn(data-scroll-to='#section-container')
      //-   img(src=require('../../image/icon/arrow_grey.svg'))
      //-   span Built on cool science
