mixin list(desc)
  li
    span= desc

div#intro-container.bounceInUp-ani
  .content
    div.intro
      div
        h3.highlight-title Meet The Miner
        h1.title Earn money in your sleep.
        p.sub-title The Miner 
          | 
          i-tooltip(text='brings you passive income')
            span The Miner is your personal mining machine. Earn USD, Bitcoin, Ether or any of your favorite currencies. Just plug in to earn.
          | 
          |for building a better, safer internet.
        p.sub-title From a team that shipped $100M+ of smart devices worldwide.
        p.sub-title
          span.highlight $199
          | 
          span(style='text-decoration: line-through; color: inherit') $299
          |
          |for early birds. Arrives Summer 2019.

        .subscribe-email
          include ../common/subscribe_form.pug
        p.sub-title.small
          span.number-of-subscriber 0
          | 
          | people already reserved their Miners. It’s FREE to reserve one.


        //- ul
        //-   +list('Issue your own privacy token')
        //-   +list('Buy Privacy token')
        //-   +list('Mine and earn Privacy token')
        //-   +list('Partner with the Incognito blockchain')
        //-   +list('Read the whitepaper & open-source code')

      //- div.action-btn.scroll-action-btn(data-scroll-to='#section-container')
      //-   img(src=require('../../image/icon/arrow_grey.svg'))
      //-   span Built on cool science
