include ../common/top_question.pug
  +question('What is Incognito?', 'Incognito is the first blockchain with privacy at its core.  It is designed to work with other blockchains, allowing you to send and receive BTC, ETH, USDT and more - with complete confidentiality. Incognito also allows you to create your own privacy coin in just a couple of minutes.')
  +question('What can I use Privacy (PRV) coin for?', 'Privacy (PRV) is Incognito’s native coin.')
  +question('How do I get early access?', 'In order to provide a good privacy experience on the blockchain, we’re onboarding a few users at a time on a first-come, first-served basis.')
  +question('How long is the wait?', 'We’re working as hard as we can to get Incognito into everyone’s hands quickly. Check back here to see how many people are still ahead of you in line.')