mixin section(desc, url, img)
  .container.visible-effect
    .section-info
      block
      p= desc
      if url
        a(href=url target='blank') Learn more
      else
        
    .image
      if img 
        img(src=img, alt='readmore image')
      else
        div

#readmore-container
  .section1
    +section(
      'Run a private ICO, mint anonymous money, create private company shares. Design just about any kind of private asset or financial instrument — in just a couple of minutes.',
      '',
      require('../../image/section1.webp')
    )
      h3 Issue your own privacy coin in minutes
  .section2
    +section(
      'Switch on private mode for your favorite coins. Private Bitcoin (pBTC) retains the exact value and functionality of Bitcoin — just 100% confidential.',
      '',
       require('../../image/section2.webp')
    )
      h3 Make your crypto incognito
  .section3
    +section(
        'Incognito is a privacy blockchain. Help build the first private browser for the decentralized web.',
        '#'
      )
        h3 Be a miner and earn coins
