#intro-container
  .container
    .info
      h1.title Launch and connect your Google Cloud Instance
      .descs
        p.desc Want to help build the privacy layer of the decentralized web and earn rewards? Validators are essential to the security and robustness of the Incognito chain.

        p.desc This October, Incognito will launch
          | 
          a(href='/specs.html', target='blank') Node Device
          |, its own plug-and-play staking hardware.  For now, you can get a head start by running a virtual node on your computer, or on a cloud instance such as AWS.  Just follow the instructions below.
       
        p.desc Incognito is currently running on the testnet. Block rewards are being paid out in testnet PRV, and will be converted to mainnet PRV at a fixed rate.
        
        br
        
        p.desc Questions? Reach us on
          | 
          a(href='https://t.me/incognitochain', target='blank') Telegram
          | 
          | or email us at
          | 
          a(href='mailto:go@incognito.org') go@incognito.org.

    .image
      img(src=require('../../image/become_validator/intro.png'), alt='become-validator-img')